@{
    var controller = ViewData["Controller"];
    var action = ViewData["Action"];
}
<div class="d-flex flex-column flex-root">
    <!--begin::Error-->
    <div class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat p-10 p-sm-30">
        <!--begin::Content-->
        <h1 class="font-weight-boldest " style="font-size: 10rem; color:#1bc5bd">Success!!!</h1>
        <p class="font-size-h3 text-muted font-weight-normal"><b>@ViewData["Messages"]</b></p>
        @if (controller != null && action != null)
        {
            <p class="font-size-h5 text-muted font-weight-normal">Bấm vào <a asp-controller="@controller" asp-action="@action">đây</a> để quay lại chương trình</p>
        }
        <!--end::Content-->
    </div>
    <!--end::Error-->
</div>
