<html lang="en">
<!--<![endif]--><!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <title>Thông tin hỗ trợ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
    <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="../../assets/admin/pages/css/coming-soon.css" rel="stylesheet" type="text/css">
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
    <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="../../assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
    <link href="../../assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
    <link href="../../assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="https://khaibao.vieclamquangbinh.gov.vn/images/LIFESOFT.png" type="image/x-icon">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 coming-soon-header">
                <a class="brand" href="https://khaibao.vieclamquangbinh.gov.vn">
                    <img src="https://khaibao.vieclamquangbinh.gov.vn/images/LIFESOFT.png" width="250" alt="Công ty TNHH phát triển phần mềm Cuộc Sống">
                </a>
            </div>
        </div>
        <div class="row">
            <!-- BEGIN CONTENT -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN DASHBOARD STATS -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font-color hide"></i>
                                <span class="caption-subject theme-font-color bold uppercase">Thông tin hỗ trợ</span>
                            </div>
                            <div class="actions">
                            </div>
                        </div>
                        <div class="portlet-body">

                            <p>
                                Công ty LifeSoft chân thành cảm ơn quý khách hàng đã tin tưởng sử dụng phần mềm của công ty.
                                Thay mặt toàn bộ cán bộ nhân viên trong công ty gửi đến khách hàng lời chúc sức khỏe- thành công
                            </p>
                            <p>
                                Nhằm chăm sóc, hỗ trợ khách hàng nhanh chóng và tiện dụng nhất công ty xin cung cấp thông tin các cán
                                bộ hỗ trợ khách hàng trong quá trình sử dụng.
                                Mọi vấn đề khúc mắc khách hàng có thể gọi điện thoại trực tiếp cho cán bộ để được hỗ trợ nhanh nhất
                                có thể!
                            </p>
                            <p>Số điện thoại công ty: <b>0243.6343.951</b></p>
                            <p>Phụ trách khối kỹ thuật:<b> Phó giám đốc: Trần Ngọc Hiếu </b>- tel: <b>0968.206.844</b></p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN PORTLET -->
                    <div class="portlet light" minlength="350px">
                        <div class="portlet-title">
                            <div class="caption caption-md">
                                <i class="icon-bar-chart theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">Triển khai bảo trì 02</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover table-light">
                                    <thead>
                                        <tr class="uppercase">
                                            <th class="text-center" colspan="2">
                                                Cán bộ hỗ trợ
                                            </th>
                                            <th class="text-center">
                                                Số điện thoại
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="https://khaibao.vieclamquangbinh.gov.vn/images/avatar/default-user.png">
                                            </td>
                                            <td>Số máy văn phòng Bảo trì 2 (1)</td>
                                            <td style="text-align: center">02436454488</td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="https://khaibao.vieclamquangbinh.gov.vn/images/avatar/default-user.png">
                                            </td>
                                            <td>Số máy văn phòng Bảo trì 2 (2)</td>
                                            <td style="text-align: center">02436343965</td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="https://khaibao.vieclamquangbinh.gov.vn/images/avatar/default-user.png">
                                            </td>
                                            <td>Hoàng Văn Sáng</td>
                                            <td style="text-align: center">0974090556</td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="https://khaibao.vieclamquangbinh.gov.vn/images/avatar/default-user.png">
                                            </td>
                                            <td>Nguyễn Trần Huynh</td>
                                            <td style="text-align: center">0964304891</td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="https://khaibao.vieclamquangbinh.gov.vn/images/avatar/default-user.png">
                                            </td>
                                            <td>Trịnh Minh Khải</td>
                                            <td style="text-align: center">0389095454</td>
                                        </tr>
                                        <tr>
                                            <td class="fit">
                                                <img class="user-pic" src="https://khaibao.vieclamquangbinh.gov.vn/images/avatar/default-user.png">
                                            </td>
                                            <td>Ngô Thế Dương</td>
                                            <td style="text-align: center">0916678911</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>

            </div>


            <div class="clearfix">
            </div>
        </div>
        <!--/end row-->
        <div class="row">
            <div class="col-md-12 coming-soon-footer">
                Copyright ©  2016 - 2024 LifeSoft <a href="">Tiện ích hơn - Hiệu quả hơn</a>
            </div>
        </div>
    </div>
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <script src="../../assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="../../assets/global/plugins/countdown/jquery.countdown.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="../../assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
    <script src="../../assets/admin/layout3/scripts/demo.js" type="text/javascript"></script>
    <script src="../../assets/admin/pages/scripts/coming-soon.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
            ComingSoon.init();
            // init background slide images
            $.backstretch([
                "https://khaibao.vieclamquangbinh.gov.vn/assets/app/media/img/bg/bg-2.jpg",
                "https://khaibao.vieclamquangbinh.gov.vn/assets/app/media/img/bg/bg-4.jpg",
                "https://khaibao.vieclamquangbinh.gov.vn/assets/app/media/img/bg/bg-1.jpg",
                "../../assets/admin/pages/media/bg/1.jpg",
                "../../assets/admin/pages/media/bg/2.jpg",
                "../../assets/admin/pages/media/bg/3.jpg",
                "../../assets/admin/pages/media/bg/4.jpg",

            ], {
                fade: 1000,
                duration: 10000
            });
        });
    </script>
    <!-- END JAVASCRIPTS -->


</body><!-- END BODY -->
</html>