@{
    Layout = "_LayoutPrint";
    var record_id = 1;    
}
@model QLViecLam.ViewModels.Admin.Manages.ThongTinThiTruongLD.ThuThapTT.HeThongTruyVanTT.VMTruyVanMau03aPL01

<table id="data_header" style="font-size: 12px">
    <tbody>
        <tr>
            <td colspan="3" style="text-align: left">
                TRUNG TÂM DỊCH VỤ VIỆC LÀM
            </td>
            <td style="text-align: right;">
                Mẫu số 03a/PLI
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: left;font-weight: bold;font-size: 20px; text-transform: uppercase;">
                    PHIẾU ĐĂNG KÝ GIỚI THIỆU/CUNG ỨNG LAO ĐỘNG<br>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: left">
                    <i>(Dành cho người sử dụng lao động)</i>
                </p>
            </td>

        </tr>
        <tr>
            <td colspan="3">
            </td>
            <td>
                <p style="text-align: left;font-weight:bold">
                    Mã số............................
                </p>
            </td>
        </tr>
    </tbody>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
    <!--VABWAFAATABfADIAMAAyADMAMAA2ADIAMwA=-->
    <tbody>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt"><b>1. Thông tin tuyển dụng</b></p>
            </td>
        </tr>
        <tr>
            <td width="66%" colspan="7" style="width:66.62%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Tên công việc*:
                    .....................................................
                </p>
            </td>
            <td width="33%" colspan="2" style="width:33.38%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Số lượng tuyển*: ............</p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Mô tả công việc*:
                    ............................................................................................
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Mã nghề (2): </p>
            </td>
        </tr>
        <tr>
            <td width="51%" colspan="6" style="width:51.64%;border:solid windowtext 1.0pt;border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Cấp 1:
                    ..................................................
                </p>
            </td>
            <td width="48%" colspan="3" style="width:48.36%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Cấp 2: ...............................................</p>
            </td>
        </tr>
        <tr>
            <td width="51%" colspan="6" style="width:51.64%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Cấp 3:
                    ..................................................
                </p>
            </td>
            <td width="48%" colspan="3" style="width:48.36%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Cấp 4:
                    ...............................................
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Chức vụ*: [ ] Nhân viên     [
                    ] Quản lý     [ ] Lãnh đạo
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Khác (ghi rõ):
                    ...........................................................................................
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Trình độ học vấn*:     [ ]
                    Chưa tốt nghiệp tiểu học         [ ]
                    Tốt nghiệp tiểu học
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Tốt nghiệp Trung học cơ sở     [ ] Tốt nghiệp Trung học
                    phổ thông
                </p>
            </td>
        </tr>
        <tr>
            <td width="9%" colspan="2" style="width:9.78%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p align="center" style="margin-top:6.0pt;text-align:left">Trình độ CMKT*:</p>
            </td>
            <td width="30%" colspan="2" style="width:30.08%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">[ ] Chưa qua đào tạo</p>
                <p style="margin-top:6.0pt">[ ] Sơ cấp</p>
                <p style="margin-top:6.0pt">[ ] Cao đẳng</p>
                <p style="margin-top:6.0pt">[ ] Thạc sĩ</p>
            </td>
            <td width="30%" colspan="4" style="width:30.08%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">[ ] CNKT không bằng</p>
                <p style="margin-top:6.0pt">[ ] Trung cấp</p>
                <p style="margin-top:6.0pt">[ ] Đại học</p>
                <p style="margin-top:6.0pt">[ ] Tiến sĩ</p>
            </td>
            <td width="30%" style="width:30.06%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Chuyên ngành đào tạo: </p>
                <p style="margin-top:6.0pt">...........................</p>
                <p style="margin-top:6.0pt">...........................</p>
                <p style="margin-top:6.0pt">...........................</p>
            </td>
        </tr>
        <tr>
            <td width="9%" colspan="2" style="width:9.78%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p align="center" style="margin-top:6.0pt;text-align:left">Trình độ khác</p>
            </td>
            <td width="90%" colspan="7" style="width:90.22%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    1:
                    ..............................................................................................
                </p>
                <p style="margin-top:6.0pt">
                    2:
                    ..............................................................................................
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Trình độ kỹ năng nghề:
                    Bậc:
                </p>
            </td>
        </tr>
        <tr>
            <td width="8%" style="width:8.38%;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 0in 0in 0in">
                <p align="center" style="margin-top:6.0pt;text-align:left">Trình độ ngoại ngữ</p>
            </td>
            <td width="91%" colspan="8" style="width:91.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Ngoại ngữ 1:
                    ...................................... Chứng chỉ .................
                </p>
                <p style="margin-top:6.0pt">
                    Khả năng sử dụng:     [ ] Tốt
                    [ ] Khá     [ ] Trung bình
                </p>
                <p style="margin-top:6.0pt">
                    Ngoại ngữ 2:
                    ...................................... Chứng chỉ .................
                </p>
                <p style="margin-top:6.0pt">
                    Khả năng sử dụng:     [ ] Tốt
                    [ ] Khá     [ ] Trung bình
                </p>
            </td>
        </tr>
        <tr>
            <td width="8%" style="width:8.38%;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 0in 0in 0in">
                <p align="center" style="margin-top:6.0pt;text-align:left">Trình độ tin học</p>
            </td>
            <td width="91%" colspan="8" style="width:91.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Tin học văn phòng
                    ...........................................................
                </p>
                <p style="margin-top:6.0pt">
                    Khả năng sử dụng:     [ ] Tốt
                    [ ] Khá     [ ] Trung bình
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Khác:
                    .............................................................................
                </p>
                <p style="margin-top:6.0pt">
                    Khả năng sử dụng:     [ ] Tốt
                    [ ] Khá     [ ] Trung bình
                </p>
            </td>
        </tr>
        <tr>
            <td width="8%" style="width:8.38%;border:solid windowtext 1.0pt;border-top:
  none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Kỹ năng mềm</p>
            </td>
            <td width="91%" colspan="8" style="width:91.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Giao tiếp
                    [ ] Thuyết trình
                    [
                    ] Quản lý thời gian
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Quản lý nhân sự
                    [ ] Tổng hợp, báo cáo
                    [ ] Thích ứng
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Làm việc nhóm
                    [ ] Làm việc độc lập
                    [ ] Chịu được áp lực
                    công việc
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Theo dõi giám sát
                    [ ] Tư duy phản biện
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Kỹ năng mềm khác:
                    .......................................................
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Yêu cầu kinh nghiệm:</p>
                <p style="margin-top:6.0pt">
                    [ ] Không yêu cầu    [ ] Dưới 1
                    năm    [ ] Từ 1 đến 2 năm    [ ] Từ 2 đến 5
                    năm    [ ] Trên 5 năm
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Nơi làm việc dự kiến: Tỉnh ................. Quận/huyện/KCN………………………………….</p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Loại hợp đồng LĐ: [ ] Không xác định thời hạn
                    [ ] Xác định thời hạn dưới 12 tháng
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Xác định thời hạn từ 12 tháng đến 36 tháng
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Yêu cầu thêm: [ ] Làm ca;
                    [ ] Đi công tác;     [ ] Đi biệt phái
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Hình thức làm việc*: [ ] Toàn thời
                    gian;     [ ] Bán thời gian
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Mục đích làm việc: [ ] Làm việc lâu
                    dài;     [ ] Làm việc tạm thời;     [
                    ] Làm thêm
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Mức lương*: - Lương tháng (VN đồng):</p>
                <p style="margin-top:6.0pt">
                    [ ] &lt;5 triệu;     [ ] 5
                    -10 triệu;     [ ] 10 - 20 triệu;
                    [ ] 20 - 50 triệu;     [ ] &gt;50 triệu
                </p>
                <p style="margin-top:6.0pt">- [ ] Lương ngày ………/ngày</p>
                <p style="margin-top:6.0pt">- [ ] Lương giờ ………/giờ</p>
                <p style="margin-top:6.0pt">- [ ] Thỏa thuận khi phỏng vấn</p>
                <p style="margin-top:6.0pt">- [ ] Hoa hồng theo doanh thu/sản phẩm</p>
            </td>
        </tr>
        <tr>
            <td width="8%" rowspan="4" style="width:8.38%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p align="center" style="margin-top:6.0pt;text-align:left">Chế độ phúc lợi*</p>
            </td>
            <td width="91%" colspan="8" style="width:91.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Hỗ trợ ăn: [ ] 1 bữa;     [ ]
                    2 bữa;     [ ] 3 bữa;     [ ] Bằng tiền:
                    ..........; [ ] Không hỗ trợ
                </p>
            </td>
        </tr>
        <tr>
            <td width="91%" colspan="8" style="width:91.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Đóng BHXH, BHYT,
                    BHTN;     [ ] BH nhân thọ;     [ ] Trợ
                    cấp thôi việc;     [ ] Nhà trẻ
                </p>
            </td>
        </tr>
        <tr>
            <td width="91%" colspan="8" style="width:91.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Xe đưa đón;     [ ] Hỗ trợ
                    đi lại;     [ ] Ký túc xá;     [ ] Hỗ
                    trợ nhà ở;     [ ] Đào tạo
                </p>
            </td>
        </tr>
        <tr>
            <td width="91%" colspan="8" style="width:91.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Lối đi/thiết bị hỗ trợ cho người khuyết tật [
                    ] Cơ hội thăng tiến
                </p>
                <p style="margin-top:6.0pt">[ ] Khác</p>
                <p style="margin-top:6.0pt">................................................................................</p>
            </td>
        </tr>
        <tr>
            <td width="8%" rowspan="7" style="width:8.38%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p align="center" style="margin-top:6.0pt;text-align:left">Điều kiện làm việc*</p>
            </td>
            <td width="20%" colspan="2" style="width:20.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Nơi làm việc</p>
            </td>
            <td width="70%" colspan="6" style="width:70.82%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Trong nhà;   [ ] Ngoài trời;
                    [ ] Hỗn hợp
                </p>
            </td>
        </tr>
        <tr>
            <td width="20%" colspan="2" style="width:20.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Trọng lượng nâng</p>
            </td>
            <td width="70%" colspan="6" style="width:70.82%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Dưới 5 kg   [ ] 5 - 20
                    kg   [ ] Trên 20 kg
                </p>
            </td>
        </tr>
        <tr>
            <td width="20%" colspan="2" style="width:20.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Đứng hoặc đi lại</p>
            </td>
            <td width="70%" colspan="6" style="width:70.82%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Hầu như không có;   [ ] Mức trung
                    bình;   [ ] Cần đứng/đi lại nhiều
                </p>
            </td>
        </tr>
        <tr>
            <td width="20%" colspan="2" style="width:20.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Nghe nói</p>
            </td>
            <td width="70%" colspan="6" style="width:70.82%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Không cần thiết;   [ ] Nghe nói cơ
                    bản;   [ ] Quan trọng
                </p>
            </td>
        </tr>
        <tr>
            <td width="20%" colspan="2" style="width:20.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Thị lực</p>
            </td>
            <td width="70%" colspan="6" style="width:70.82%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Mức bình thường;   [ ] Nhìn được vật/chi
                    tiết nhỏ;
                </p>
            </td>
        </tr>
        <tr>
            <td width="20%" colspan="2" style="width:20.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Thao tác bằng tay</p>
            </td>
            <td width="70%" colspan="6" style="width:70.82%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Lắp ráp đồ vật lớn;   [ ] Lắp ráp đồ
                    vật nhỏ;   [ ] Lắp ráp đồ vật rất nhỏ
                </p>
            </td>
        </tr>
        <tr>
            <td width="20%" colspan="2" style="width:20.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Dùng 2 tay</p>
            </td>
            <td width="70%" colspan="6" style="width:70.82%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    [ ] Cần 2 tay;   [ ] Đôi khi cần 2
                    tay;   [ ] Chỉ cần 1 tay;   [ ] Trái;   [ ] Phải
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Đối tượng ưu tiên: [ ] Người khuyết tật; [ ] Bộ đội
                    xuất ngũ; [ ] Người thuộc hộ nghèo, cận nghèo
                </p>
                <p style="margin-top:6.0pt">
                    [ ] Người dân tộc thiểu số; [ ] Khác (ghi
                    rõ:....................
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Hình thức tuyển dụng*: [ ] Trực tiếp;
                    [ ] Qua điện thoại;     [ ]
                    Phỏng vấn online;     [ ] Nộp CV
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Thời hạn tuyển dụng*: ngày
                    tháng    năm
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">
                    Mong muốn của doanh nghiệp đối với TTDVVL: [ ] Tư
                    vấn;   [ ] GT việc làm;   [ ] Cung ứng LĐ
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt"><b>2. Thông tin người liên hệ tuyển dụng</b></p>
            </td>
        </tr>
        <tr>
            <td width="50%" colspan="5" style="width:50.7%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Họ và tên*: ……………………………………</p>
            </td>
            <td width="49%" colspan="4" style="width:49.3%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Chức vụ*: ……………………………………</p>
            </td>
        </tr>
        <tr>
            <td width="50%" colspan="5" style="width:50.7%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Số điện thoại*: ………………………………</p>
                <p style="margin-top:6.0pt">Nhận SMS thông báo ứng tuyển</p>
                <p style="margin-top:6.0pt">
                    [ ] Có
                    [
                    ] Không
                </p>
            </td>
            <td width="49%" colspan="4" style="width:49.3%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Email*: …………………………………………</p>
                <p style="margin-top:6.0pt">Nhận email thông báo ứng tuyển</p>
                <p style="margin-top:6.0pt">
                    [ ] Có
                    [
                    ] Không
                </p>
            </td>
        </tr>
        <tr>
            <td width="100%" colspan="9" style="width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0in 0in 0in 0in">
                <p style="margin-top:6.0pt">Hình thức liên hệ khác (nếu có): .....................................................................</p>
            </td>
        </tr>
        <tr>
            <td width="63" style="width:47.25pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="10" style="width:7.5pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="145" style="width:108.75pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="80" style="width:60.0pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="81" style="width:60.75pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="10" style="width:.1in;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="112" style="width:84.0pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="25" style="width:18.75pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
            <td width="225" style="width:168.75pt;padding:0in 0in 0in 0in">
                <p><span style="font-size:12.0pt;&quot;Times New Roman&quot;,serif"> </span></p>
            </td>
        </tr>
    </tbody>
</table>

<table id="data_footer" width="96%" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: left; height:200px">
    <tbody>
        <tr>
            <td width="40%" style="text-align: left; vertical-align: top;">
            </td>
            <td style="vertical-align: top;">
                <i>Ngày......tháng......năm...........</i><br>
                <b>Người cung cấp thông tin</b><br>
                <i>(Chữ ký, dấu)</i>
            </td>
        </tr>
    </tbody>
</table>