@{
    int record_id = 1;
    var Xa = (IEnumerable<QLViecLam.Models.Admin.Systems.DmHanhChinh>)ViewData["Xa"]!;
    var Huyen = (IEnumerable<QLViecLam.Models.Admin.Systems.DmHanhChinh>)ViewData["Huyen"]!;

}

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });

                        /*
        function updateInput() {
        var selectedOption = document.getElementById("Madiaban");
        var selectedLabel = selectedOption.options[selectedOption.selectedIndex].getAttribute("data-label");
        document.getElementById("test").value = selectedLabel;
        }
        */
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách<small> Cơ sở dữ liệu sổ sổ ghi chép số liệu Thị trường lao động</small>
            </h3>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <a class="btn font-weight-bolder" asp-controller="SoGhiChepTTLD" asp-action="CungLaoDong" target="_blank">
                        <i class="icon-lg la flaticon2-print text-primary"></i>Cung lao động
                    </a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <a class="btn font-weight-bolder" asp-controller="SoGhiChepTTLD" asp-action="CauLaoDong" target="_blank">
                        <i class="icon-lg la flaticon2-print text-primary"></i>Cầu lao động
                    </a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="form-group fv-plugins-icon-container">
                    <a class="btn font-weight-bolder" asp-controller="SoGhiChepTTLD" asp-action="CungCau" target="_blank">
                        <i class="icon-lg la flaticon2-print text-primary"></i>Cung-cầu lao động
                    </a>
                </div>
            </div>
            

        </div>
    </div>
</div>
