

<!--BÁO CÁO THỐNG KÊ-->
<li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" id="baocao" title="báo cáo thống kê">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">BÁO CÁO THỐNG KÊ</span>
    </a>
    <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="baocao_cung" title="Danh sách các mẫu báo cáo cung lao động">
                <a class="menu-link menu-toggle" asp-controller="BaoCaoCungLaoDong" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/User.svg" class="max-h-100px"
                          alt="Danh sách các mẫu báo cáo cung lao động" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Báo cáo cung lao động</span>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="baocao_cau" title="Danh sách các mẫu báo cáo cầu lao động">
                <a class="menu-link menu-toggle" asp-controller="BaoCaoCauLaoDong" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Users.svg" class="max-h-100px"
                             alt="Danh sách các mẫu báo cáo cầu lao động" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Báo cáo cầu lao động</span>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="baocao_chung" title="Danh sách các mẫu báo cáo tổng hợp chung">
                <a class="menu-link menu-toggle" asp-controller="BaoCaoTongHopChung" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Users.svg" class="max-h-100px"
                             alt="Danh sách các mẫu báo cáo tổng hợp chung" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Tra cứu báo cáo tổng hợp chung</span>
                </a>
            </li>

        </ul>
    </div>
</li>


