<!--QUẢN LÝ HỆ THỐNG -->
<li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" id="hethong" title="Quản lý hệ thống">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">QUẢN LÝ HỆ THỐNG</span>
    </a>
    <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_diaban" title="Quản lý thông tin địa bàn (tỉnh,huyện,xã)">
                <a class="menu-link menu-toggle" asp-controller="DiaBan" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Compass.svg" class="max-h-100px"
                             alt="Quản lý thông tin địa bàn (tỉnh,huyện,xã)" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Địa bàn</span>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_donvi" title="Quản lý thông tin đơn vị hành chính">
                <a class="menu-link menu-toggle" asp-controller="DonVi" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Landmark-flag.svg" class="max-h-100px"
                             alt="Quản lý thông tin đơn vị hành chính" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Đơn vị</span>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_taikhoan" title="Quản lý thông tin tài khoản">
                <a class="menu-link menu-toggle" asp-controller="TaiKhoan" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/User-circle.svg" class="max-h-100px"
                             alt="Quản lý thông tin tài khoản" />
                    </i>
                    <span class="menu-text" style="margin-left: 1%;">Tài khoản</span>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_chucnang" title="Quản lý thông tin chức năng">
                <a class="menu-link menu-toggle" asp-controller="ChucNang" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/User-gear.svg" class="max-h-100px"
                             alt="Quản lý thông tin chức năng" />
                    </i>
                    <span class="menu-text" style="margin-left: 2%;">Chức năng</span>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_nhomchucnang" title="Quản lý thông tin nhóm chức năng">
                <a class="menu-link menu-toggle" asp-controller="NhomChucNang" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Users-gear.svg" class="max-h-100px"
                             alt="Quản lý thông tin nhóm chức năng" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Nhóm chức năng</span>
                </a>
            </li>

            <!--Danh Mục -->
            <li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc" title="Quản lý danh mục chung">
                <a href="javascript:;" class="menu-link menu-toggle">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Layer-group.svg" class="max-h-100px"
                             alt="Quản lý danh mục chung" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Danh mục</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="menu-submenu">
                    <i class="menu-arrow"></i>
                    <ul class="menu-subnav">
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_trinhdocmkt" title="Quản lý danh mục trình độ chuyên môn kỹ thuật">
                            <a class="menu-link menu-toggle" asp-controller="TrinhDoCMKT" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Trình độ chuyên môn kỹ thuật</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_trinhdohv" title="Quản lý danh mục trình độ học vấn">
                            <a class="menu-link menu-toggle" asp-controller="TrinhDoHV" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Trình độ học vấn</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_tinhtrangvl" title="Quản lý danh mục tình trạng việc làm">
                            <a class="menu-link menu-toggle" asp-controller="TinhTrangVL" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Tình trạng việc làm</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_nganhhoc" title="Quản lý danh mục ngành học">
                            <a class="menu-link menu-toggle" asp-controller="NganhHoc" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Ngành học</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_dantoc" title="Quản lý danh mục dân tộc">
                            <a class="menu-link menu-toggle" asp-controller="DanToc" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Dân tộc</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_quanhe" title="Quản lý danh mục mối quan hệ">
                            <a class="menu-link menu-toggle" asp-controller="QuanHe" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Mối quan hệ</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_khucongnghiep" title="Quản lý danh mục khu công nghiệp">
                            <a class="menu-link menu-toggle" asp-controller="KhuCongNghiep" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Khu công nghiệp</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_doituonguutien" title="Quản lý danh mục đối tượng ưu tiên">
                            <a class="menu-link menu-toggle" asp-controller="DoiTuongUuTien" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Đối tượng ưu tiên</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_hinhthucdoanhnghiep" title="Quản lý danh mục hình thức doanh nghiệp ">
                            <a class="menu-link menu-toggle" asp-controller="HinhThucDoanhNghiep" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Hình thức doanh nghiệp</span>
                            </a>
                        </li>

                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_loaihopdonglaodong" title="Quản lý danh mục loại hợp đồng lao động ">
                            <a class="menu-link menu-toggle" asp-controller="LoaiHopDongLaoDong" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Loại hợp đồng lao động</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_lydokhongthamgiahdkt" title="Quản lý danh mục lý do không tham gia hoạt động kinh tế ">
                            <a class="menu-link menu-toggle" asp-controller="LyDoKhongThamGiaHDKT" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Lý do không tham gia HDKT</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_nganhnghe" title="Quản lý danh mục ngành nghề ">
                            <a class="menu-link menu-toggle" asp-controller="NganhNghe" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Ngành nghề</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_thoigianthatnghiep" title="Quản lý danh mục thòi gian thất nghiệp">
                            <a class="menu-link menu-toggle" asp-controller="ThoiGianThatNghiep" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Thời gian thất nghiệp</span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_danhmuc_vitrivieclam" title="Quản lý danh mục vị trí việc làm">
                            <a class="menu-link menu-toggle" asp-controller="ViTriViecLam" asp-action="Index">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Vị trí việc làm</span>
                            </a>
                        </li>













                    </ul>
                </div>
            </li>


            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="hethong_giaodien" title="Cài đặt giao diện hiển thị">
                <a class="menu-link menu-toggle" asp-controller="Home" asp-action="ThemeSettings">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Gear.svg" class="max-h-100px"
                             alt="Cài đặt giao diện hiển thị" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Giao diện hiện thị</span>
                </a>
            </li>
        </ul>
    </div>
</li>


