@* 
*@
<li class="menu-section">
    <h4 class="menu-text">HỆ THỐNG THÔNG TIN QUẢN LÝ LAO ĐỘNG</h4>
    <i class="menu-icon ki ki-bold-more-hor icon-md"></i>
</li>
@await Html.PartialAsync("~/Views/Menu/Manages/ThongTinThiTruongLD/KeHoachThuThapThongTIn.cshtml")
@await Html.PartialAsync("~/Views/Menu/Manages/ThongTinThiTruongLD/ThuThapTT.cshtml") 