

<!--KẾ HOẠCH THU THẬP-->
<li class="menu-item" aria-haspopup="true" data-menu-toggle="hover" id="kehoach" title="Quản lý kế hoạch thu thập thông tin">
    <a href="javascript:;" class="menu-link menu-toggle">
        <span class="menu-text">KẾ HOẠCH THU THẬP</span>
    </a>
    <div class="menu-submenu">
        <i class="menu-arrow"></i>
        <ul class="menu-subnav">
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="kehoach_thuthap" title="Quản lý kỳ điều tra">
                <a class="menu-link menu-toggle" asp-controller="KeHoachThuThap" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Clipboard-list.svg" class="max-h-100px"
                             alt="Quản lý kỳ điều tra" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Kế hoạch thu thập</span>
                </a>
            </li>
            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="kehoach_xetduyet" title="Quản lý kế hoạch thu thập thông tin">
                <a class="menu-link menu-toggle" asp-controller="XetDuyetKeHoach" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Chipboard-check.svg" class="max-h-100px"
                             alt="Quản lý xét duyệt kế hoạch thu thập thông tin" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Xét duyệt kế hoạch</span>
                </a>
            </li>

            <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" id="kehoach_baocao" title="Báo cáo Thông tin kế hoạch thu thập">
                <a class="menu-link menu-toggle" asp-controller="BaoCao" asp-action="Index">
                    <i class="menu-bullet menu-bullet-line">
                        <img src="~/Admin/assets/media/svg/quanlyvieclam/Clender-check.svg" class="max-h-100px"
                             alt="Báo cáo Thông tin kế hoạch thu thập" />
                    </i>
                    <span class="menu-text" style="margin-left: 3%;">Báo cáo</span>
                </a>
            </li>



        </ul>
    </div>
</li>


