@{
    var stt = ViewData["Stt"];
}
<!--Create Modal-->
<form asp-controller="LyDoKhongThamGiaHDKT" asp-action="Store" method="post" enctype="multipart/form-data" id="LyDoKhongThamGiaHDKT_store">
    <div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Thông tin danh mục
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-left">
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Mã danh mục</b></label>
                                <input type="number" id="MaLyDoKhongThamGia_create" name="MaLyDoKhongThamGia_create" value="@stt" class="form-control">
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Tên danh mục</b></label>
                                <input type="text" id="TenLyDoKhongThamGia_create" name="TenLyDoKhongThamGia_create" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-12">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Trạng thái</b></label>
                                <select id="TrangThai_create" name="TrangThai_create" class="form-control">
                                    <option value="1">Kích hoạt</option>
                                    <option value="0">Vô hiệu</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="CreateValidate()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Edit Modal-->
<form asp-controller="LyDoKhongThamGiaHDKT" asp-action="Update" method="post" enctype="multipart/form-data" id="LyDoKhongThamGiaHDKT_edit">
    <div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Thông tin danh mục
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body" id="edit_thongtin">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="button" class="btn btn-primary font-weight-bold" onclick="EditValidate()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Delete Modal-->
<form asp-controller="LyDoKhongThamGiaHDKT" asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Đồng ý xóa???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-left">
                        <input hidden id="Id_delete" name="Id_delete" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function CreateValidate() {
        var madm = $('#TenLyDoKhongThamGia_create').val();
        var tendm = $('#TenLyDoKhongThamGia_create').val();
        if (tendm == '') {
            toastr.error("Tên danh mục không được để trống!", "Lỗi!!!")
        }
        if (madm == '') {
            toastr.error("Mã danh mục không được để trống!", "Lỗi!!!")
        }
        else if (madm < 1 && madm > 99) {
            toastr.error("Mã danh mục phải là số từ 1 đến 99", "Lỗi!!!")
        }
        else {
            if (tendm == '') {
                toastr.error("Tên danh mục không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("LyDoKhongThamGiaHDKT_store").submit();
            }
        }
    }

    function EditValidate() {
        var madm = $('#TenLyDoKhongThamGiaHDKT_edit').val();
        var tendm = $('#TenLyDoKhongThamGiaHDKT_edit').val();
        if (tendm == '') {
            toastr.error("Tên danh mục không được để trống!", "Lỗi!!!")
        }
        if (madm == '') {
            toastr.error("Mã danh mục không được để trống!", "Lỗi!!!")
        }
        else if (madm < 1 && madm > 99) {
            toastr.error("Mã danh mục phải là số từ 1 đến 99", "Lỗi!!!")
        }
        else {
            if (tendm == '') {
                toastr.error("Tên danh mục không được để trống!", "Lỗi!!!")
            } else {
                document.getElementById("LyDoKhongThamGiaHDKT_edit").submit();
            }
        }
    }

    function SetEdit(Id_edit) {
        $.ajax({
            url: '/LyDoKhongThamGiaHDKT/Edit',
            type: 'POST',
            data: {
                Id: Id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#edit_thongtin').replaceWith(data.message);
                }
            }
        })
    }

    function SetDelete(Id) {
        document.getElementById("Id_delete").value = Id;
    }
</script>