﻿@{

}
<!--Create Modal-->
<form asp-controller="DonVi" asp-action="Store" method="post" enctype="multipart/form-data" id="DonVi_store">
    <div class="modal fade" id="Create_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Thông tin đơn vị
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-left">
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Tên đơn vị</b><span class="require">*</span></label>
                                <input type="text" id="tendv" name="tendv" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>địa chỉ trụ sở</b></label>
                                <input type="text" id="diachi" name="diachi" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>địa danh</b></label>
                                <input type="text" id="diadanh" name="diadanh" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Chức vụ người ký</b></label>
                                <input type="text" id="chucvuky" name="chucvuky" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Họ tên người ký</b></label>
                                <input type="text" id="nguoiky" name="nguoiky" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="form-group fv-plugins-icon-container">
                                <label><b>Thông tin liên hệ</b></label>
                                <input type="text" id="ttlienhe" name="ttlienhe" class="form-control" />
                            </div>
                        </div>

                    </div>
                    <input hidden id="madiaban" name="madiaban" value="@ViewData["MaDb"]" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Edit Modal-->
<form asp-controller="DonVi" asp-action="Update" method="post" enctype="multipart/form-data" id="DonVi_edit">
    <div class="modal fade" id="Edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Thông tin đơn vị
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body" id="edit_thongtin">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--Delete Modal-->
<form asp-controller="DonVi" asp-action="Delete" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="card-label text-dark">
                        Đồng ý xóa???
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row text-left">
                        <input hidden id="id_delete" name="id_delete" />
                        <input hidden id="madb" name="madb" value="@ViewData["MaDb"]" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold" data-dismiss="modal">Hủy thao tác</button>
                    <button type="submit" class="btn btn-primary font-weight-bold">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    function SetEdit(id_edit) {
        $.ajax({
            url: '/DonVi/Edit',
            type: 'POST',
            data: {
                id: id_edit
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    $('#edit_thongtin').replaceWith(data.message);
                }
            }
        })
    }

    function SetDelete(id, madb) {

        document.getElementById("id_delete").value = id;
    }
</script>