@{
    Layout = "_LayoutPrint";
    var record_id = 1;
}


<table id="data_header" style="font-size: 12px;width:72%">
    <tbody>
        <tr>
            <td colspan="4" style="text-align: left">
                <i>
                    Mẫu số 01: Ban hành kèm theo Thông tư số 27/2015/TT-LĐTBXH ngày 24/7/2015 của Bộ trưởng Bộ Lao động - Thương binh và Xã hội hướng dẫn thu thập,
                    lưu trữ, tổng hợp thông tin thị trường lao động.
                </i>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: left">
                ỦY BAN NHÂN DÂN XÃ/PHƯỜNG/THỊ TRẤN................................
            </td>
            <td colspan="3" style="text-align: center">
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM................................<br>
                Độc lập - Tự do - Hạnh phúc
            </td>
        </tr>
        <tr>
            <td style="text-align:center">Số:………/BC-UBND</td>
            <td style="text-align:center">……, ngày……tháng……năm……</td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: center;font-weight: bold;font-size: 20px; text-transform: uppercase;">
                    BÁO CÁO THÔNG TIN THỊ TRƯỜNG LAO ĐỘNG CẤP XÃ/PHƯỜNG/THỊ TRẤN
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: center">
                    Kính gửi: Ủy ban nhân dân huyện/quận/thị xã/thành phố.................
                </p>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />

<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="font-size: 12px;width:72%">
    <tbody>
        <tr height="27" style="height:20.25pt">
            <td colspan="2" height="27" class="xl9223643" width="462" style="height:20.25pt;
         width:347pt">
                A. Kết quả tổng hợp của
                xã/phường/thị trấn
            </td>
            <td class="xl8823643" colspan="4" style="width:73pt"></td>
            <td colspan="2" class="xl9023643" width="230" style="width:172pt"></td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl6923643" width="58" style="height:18.0pt;
         width:44pt">
                TT
            </td>
            <td class="xl6923643" width="404" style="
         width:303pt">
                Chỉ tiêu
            </td>
            <td class="xl6923643" width="97" style="width:73pt">
                Đơn
                vị
            </td>
            <td class="xl6923643" width="115" style="width:86pt">
                Kỳ
                trước
            </td>
            <td class="xl6923643" width="115" style="width:86pt">
                Tăng
                trong kỳ
            </td>
            <td class="xl6923643" width="115" style="
         width:86pt">
                Giảm trong kỳ
            </td>
            <td class="xl6923643" width="115" style="
         width:86pt">
                Kỳ báo cáo
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8923643" width="58" style="height:18.0pt;
         width:44pt">
                A
            </td>
            <td class="xl6623643" width="404" style="
         width:303pt">
                B
            </td>
            <td class="xl6623643" width="97" style="
         width:73pt">
                C
            </td>
            <td class="xl6623643" width="115" style="
         width:86pt">
                1
            </td>
            <td class="xl6623643" width="115" style="
         width:86pt">
                2
            </td>
            <td class="xl6623643" width="115" style="
         width:86pt">
                3
            </td>
            <td class="xl6623643" width="115" style="
         width:86pt">
                4
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl6923643" width="58" style="height:18.0pt;
         width:44pt">
                1
            </td>
            <td class="xl7023643" width="404" style="
         width:303pt">
                Dân số từ 15 tuổi trở lên
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl7323643" width="58" style="height:18.0pt;
         width:44pt">
                2
            </td>
            <td class="xl7023643" width="404" style="
         width:303pt">
                Tổng số người tham gia hoạt
                động kinh tế
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr class="xl7923643" height="24" style="height:18.0pt">
            <td height="24" class="xl7723643" width="58" style="height:18.0pt;width:44pt">2.1</td>
            <td class="xl7623643" width="404" style="
         width:303pt">
                Số người có việc làm
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7823643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7823643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7823643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7823643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr class="xl7923643" height="24" style="height:18.0pt">
            <td height="24" class="xl7123643" width="58" style="height:18.0pt;width:44pt">a<span style=""></span></td>
            <td colspan="6" class="xl9123643" width="961" style="width:720pt">
                Chia
                theo giới tính
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8623643" width="58" style="height:18.0pt;width:44pt"></td>
            <td class="xl8423643" width="404" style="width:303pt">- Nam</td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8523643" width="58" style="height:18.0pt;width:44pt"></td>
            <td class="xl8023643" width="404" style="
         width:303pt">
                - Nữ
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl7123643" width="58" style="height:18.0pt;
         width:44pt">
                b<span style=""></span>
            </td>
            <td colspan="6" class="xl9123643" width="961" style="width:720pt">
                Chia
                theo ngành kinh tế
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8623643" width="58" style="height:18.0pt;width:44pt"></td>
            <td class="xl8423643" width="404" style="width:303pt">
                - Nông
                nghiệp, lâm nghiệp và thủy sản
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
            <td class="xl8523643" width="115" style="width:86pt"></td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8623643" width="58" style="height:18.0pt;width:44pt"></td>
            <td class="xl8023643" width="404" style="
         width:303pt">
                - Công nghiệp, xây dựng
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8523643" width="58" style="height:18.0pt;width:44pt"></td>
            <td class="xl8023643" width="404" style="
         width:303pt">
                - Thương mại, dịch vụ
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7123643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl7823643" width="58" style="height:18.0pt;
         width:44pt">
                2.2
            </td>
            <td class="xl8123643" width="404" style="
         width:303pt">
                Số người thất nghiệp
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td rowspan="3" height="72" class="xl9623643" width="58" style="border-bottom:.5pt solid black;
         height:54.0pt;width:44pt">
                
            </td>
            <td colspan="6" class="xl9123643" width="961" style="width:720pt">
                Chia
                theo giới tính
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8423643" width="404" style="height:18.0pt;border-left:
         none;width:303pt">
                - Nam
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl8323643" width="115" style="width:86pt"></td>
            <td class="xl8323643" width="115" style="width:86pt"></td>
            <td class="xl8323643" width="115" style="width:86pt"></td>
            <td class="xl8323643" width="115" style="width:86pt"></td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8023643" width="404" style="height:18.0pt;
         width:303pt">
                - Nữ
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl6923643" width="58" style="height:18.0pt;
         width:44pt">
                3
            </td>
            <td class="xl7523643" width="404" style="
         width:303pt">
                Tổng số người không tham gia hoạt
                động kinh tế
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td rowspan="4" height="96" class="xl7323643" width="58" style="border-bottom:.5pt solid black;
         height:72.0pt;width:44pt">
                
            </td>
            <td colspan="6" class="xl9323643" width="961" style="border-right:.5pt solid black;
         width:720pt">
                Chia theo lý do
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8223643" width="404" style="height:18.0pt;
         width:303pt">
                - Đi học
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8223643" width="404" style="height:18.0pt;
         width:303pt">
                - Khuyết tật
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl8223643" width="404" style="height:18.0pt;
         width:303pt">
                - Khác
            </td>
            <td class="xl8723643" width="97" style="
         width:73pt">
                Người
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
            <td class="xl7423643" width="115" style="
         width:86pt">
                
            </td>
        </tr>
        <!--[if supportMisalignedColumns]-->
        <tr height="0" style="display:none">
            <td width="58" style="width:44pt"></td>
            <td width="404" style="width:303pt"></td>
            <td width="97" style="width:73pt"></td>
            <td width="115" style="width:86pt"></td>
            <td width="115" style="width:86pt"></td>
            <td width="115" style="width:86pt"></td>
            <td width="115" style="width:86pt"></td>
        </tr>
        <tr height="27" style="height:20.25pt">
            <td></td>
            <td colspan="6"><i>Ghi chú: Số kỳ báo cáo = Số kỳ trước + số tăng trong kỳ - số giảm trong kỳ</i></td>
        </tr>
        <!--[endif]-->
    </tbody>
</table>
<br />
<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="font-size: 12px;width:72%">
    <colgroup>
        <col class="xl6626783" width="35" style="mso-width-alt:
 1280;width:26pt">
        <col class="xl6626783" width="121" style="mso-width-alt:
 4425;width:91pt">
        <col class="xl6626783" width="40" style="mso-width-alt:
 1462;width:30pt">
        <col class="xl6626783" width="39" style="mso-width-alt:
 1426;width:29pt">
        <col class="xl6626783" width="41" style="mso-width-alt:
 1499;width:31pt">
        <col class="xl6626783" width="42" style="mso-width-alt:
 1536;width:32pt">
        <col class="xl6626783" width="31" style="mso-width-alt:
 1133;width:23pt">
        <col class="xl6626783" width="40" style="mso-width-alt:
 1462;width:30pt">
        <col class="xl6626783" width="38" style="mso-width-alt:
 1389;width:29pt">
        <col class="xl6626783" width="42" style="mso-width-alt:
 1536;width:32pt">
        <col class="xl6626783" width="37" style="mso-width-alt:
 1353;width:28pt">
        <col class="xl6626783" width="39" style="mso-width-alt:
 1426;width:29pt">
        <col class="xl6626783" width="41" style="mso-width-alt:
 1499;width:31pt">
        <col class="xl6626783" width="44" style="mso-width-alt:
 1609;width:33pt">
        <col class="xl6626783" width="37" style="mso-width-alt:
 1353;width:28pt">
        <col class="xl6626783" width="41" style="mso-width-alt:
 1499;width:31pt">
        <col class="xl6626783" width="39" style="mso-width-alt:
 1426;width:29pt">
        <col class="xl6626783" width="38" style="mso-width-alt:
 1389;width:29pt">
        <col class="xl6626783" width="45" style="mso-width-alt:
 1645;width:34pt">
        <col class="xl6626783" width="46" style="mso-width-alt:
 1682;width:35pt">
        <col class="xl6626783" width="39" style="mso-width-alt:
 1426;width:29pt">
        <col class="xl6626783" width="41" style="mso-width-alt:
 1499;width:31pt">
    </colgroup>
    <tbody>
        <tr height="36" style="height:27.0pt">
            <td colspan="5" height="36" class="xl9226783" width="276" style="height:27.0pt;
  width:207pt">
                B. Chi tiết từng xã/phường/thị
                trấn
            </td>
            <td class="xl7426783" width="42" style="width:32pt"></td>
            <td class="xl7426783" colspan="14" style="width:23pt"></td>
            <td colspan="4" class="xl9326783" width="171" style="width:129pt">
                Đơn
                vị: Người
            </td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td rowspan="3" height="145" class="xl8126783" width="35" style="height:108.75pt;
  width:26pt">
                STT
            </td>
            <td rowspan="3" class="xl8126783" width="121" style="width:91pt">
                Tên
                thôn/bản/tổ dân phố và tương đương
            </td>
            <td colspan="4" class="xl8926783" style="border-right:.5pt solid black;
  border-left:none">
                Kỳ trước<span style=""></span>
            </td>
            <td colspan="4" class="xl8926783" style="border-right:.5pt solid black;
  border-left:none">
                Kỳ báo cáo
            </td>
            <td colspan="6" class="xl8526783" style="border-left:none">Tăng<span style=""></span></td>
            <td colspan="6" class="xl8326783">Giảm</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td rowspan="2" height="125" class="xl7726783" width="40" style="border-bottom:.5pt solid black;
  height:93.75pt;width:30pt">
                Tổng số
            </td>
            <td rowspan="2" class="xl7926783" width="39" style="width:29pt">
                Số
                người có việc làm<span style=""></span>
            </td>
            <td rowspan="2" class="xl7926783" width="41" style="width:31pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7726783" width="42" style="border-bottom:.5pt solid black;
  width:32pt">
                Số người không tham gia
                HĐKT
            </td>
            <td rowspan="2" class="xl7726783" width="31" style="border-bottom:.5pt solid black;
  width:23pt">
                Tổng số<span style=""></span>
            </td>
            <td rowspan="2" class="xl7926783" width="40" style="width:30pt">
                Số
                người có việc làm<span style=""></span>
            </td>
            <td rowspan="2" class="xl7926783" width="38" style="width:29pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7726783" width="42" style="border-bottom:.5pt solid black;
  width:32pt">
                Số người không tham gia
                HĐKT
            </td>
            <td rowspan="2" class="xl7926783" width="37" style="width:28pt">
                Số
                người có việc làm<span style=""></span>
            </td>
            <td colspan="3" class="xl8726783" style="border-left:none">Trong đó</td>
            <td rowspan="2" class="xl7926783" width="37" style="width:28pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7726783" width="41" style="border-bottom:.5pt solid black;
  width:31pt">
                Số người không tham gia HĐKT
            </td>
            <td rowspan="2" class="xl7926783" width="39" style="width:29pt">
                Số
                người có việc làm<span style=""></span>
            </td>
            <td colspan="3" class="xl8726783" style="border-left:none">Trong đó</td>
            <td rowspan="2" class="xl7926783" width="39" style="width:29pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7726783" width="41" style="border-bottom:.5pt solid black;
  width:31pt">
                Số người không tham gia
                HĐKT
            </td>
        </tr>
        <tr height="105" style="height:78.75pt">
            <td height="105" class="xl7326783" width="39" style="height:78.75pt;border-left:
  none;width:29pt">
                Số người chuyển đến
            </td>
            <td class="xl7226783" width="41" style="width:31pt">
                Số
                thay đổi từ TN sang có VL<span style=""></span>
            </td>
            <td class="xl7226783" width="44" style="width:33pt">
                Số
                thay đổi từ không HĐKT sang có làm việc<span style=""></span>
            </td>
            <td class="xl7326783" width="38" style="width:29pt">
                Số
                người chuyển đi
            </td>
            <td class="xl7226783" width="45" style="width:34pt">
                Số
                người thay đổi có việc làm<span style=""> </span>sang TN
            </td>
            <td class="xl7226783" width="46" style="width:35pt">
                Số
                người từ có<span style=""> </span>VL sang
                k.HĐKT
            </td>
        </tr>
        <tr height="24" style="height:18.0pt">
            <td height="24" class="xl7626783" width="35" style="height:18.0pt;
  width:26pt">
                A
            </td>
            <td class="xl7626783" width="121" style="
  width:91pt">
                B
            </td>
            <td class="xl7626783" width="40" style="
  width:30pt">
                1
            </td>
            <td class="xl7626783" width="39" style="width:29pt">2</td>
            <td class="xl7626783" width="41" style="width:31pt">3</td>
            <td class="xl7626783" width="42" style="
  width:32pt">
                4
            </td>
            <td class="xl7626783" width="31" style="
  width:23pt">
                5
            </td>
            <td class="xl7626783" width="40" style="width:30pt">6</td>
            <td class="xl7626783" width="38" style="width:29pt">7</td>
            <td class="xl7626783" width="42" style="
  width:32pt">
                8
            </td>
            <td class="xl7626783" width="37" style="width:28pt">9</td>
            <td class="xl7626783" width="39" style="
  width:29pt">
                10
            </td>
            <td class="xl7626783" width="41" style="width:31pt">11</td>
            <td class="xl7626783" width="44" style="width:33pt">12</td>
            <td class="xl7626783" width="37" style="width:28pt">13</td>
            <td class="xl7626783" width="41" style="
  width:31pt">
                14
            </td>
            <td class="xl7626783" width="39" style="width:29pt">15</td>
            <td class="xl7626783" width="38" style="
  width:29pt">
                16
            </td>
            <td class="xl7626783" width="45" style="width:34pt">17</td>
            <td class="xl7626783" width="46" style="width:35pt">18</td>
            <td class="xl7626783" width="39" style="width:29pt">19</td>
            <td class="xl7626783" width="41" style="
  width:31pt">
                20
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl7126783" style="height:17.25pt;border-top:none">1</td>
            <td class="xl7126783" style="border-left:none"></td>
            <td class="xl7126783" style="border-left:none"></td>
            <td class="xl7126783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl7026783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
            <td class="xl6926783" style="border-left:none"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl6826783" style="height:17.25pt;border-top:none">2</td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl6826783" style="height:17.25pt;border-top:none">3</td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl6826783" style="height:17.25pt;border-top:none"></td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6826783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl6726783" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl6726783" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl6726783" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl6726783" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
            <td class="xl6726783" style="border-left:none"></td>
        </tr>
        <!--[if supportMisalignedColumns]-->
        <tr height="0" style="display:none">
            <td width="35" style="width:26pt"></td>
            <td width="121" style="width:91pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="31" style="width:23pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="37" style="width:28pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="37" style="width:28pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="45" style="width:34pt"></td>
            <td width="46" style="width:35pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="41" style="width:31pt"></td>
        </tr>
        <!--[endif]-->
    </tbody>
</table>

<table id="data_footer" width="96%" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tbody>
        <tr>
            <td style="vertical-align: top;" width="40%">
                <i>Ngày......tháng......năm...........</i><br>
                <b>Người báo cáo</b><br>
                <i>(Chữ ký, dấu)</i>
            </td>
            <td style="vertical-align: top;">
                <i>Ngày......tháng......năm...........</i><br>
                <b>TM. ỦY BAN NHÂN DÂN</b><br>
                <b>CHỦ TỊCH</b><br>
                <i>(Ký và đóng dấu)</i><br />

            </td>
        </tr>
    </tbody>
</table>