@{
    Layout = "_LayoutPrint";
    var record_id = 1;
}


<table id="data_header" style="font-size: 12px;width:72%">
    <tbody>
        <tr style="text-align: center;"> 
            <td colspan="4">
                <i>
                    Mẫu số 03: Ban hành kèm theo Thông tư số 27/2015/TT-LĐTBXH ngày 24/7/2015 của Bộ trưởng Bộ Lao động - Thương binh và Xã hội
                    hướng dẫn thu thập, lưu trữ, tổng hợp thông tin thị trường lao động.
                </i>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: left">
                ỦY BAN NHÂN DÂN TỈNH/THÀNH PHỐ................................<br />
                SỞ LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI...........................
            </td>
            <td colspan="3" style="text-align: center;text-transform:uppercase">
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM................................<br>
                Độc lập - Tự do - Hạnh phúc
            </td>
        </tr>
        <tr>
            <td style="text-align:center">Số:………/BC-UBND</td>
            <td style="text-align:center">……, ngày……tháng……năm……</td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: center;font-weight: bold;font-size: 20px; text-transform: uppercase;">
                    BÁO CÁO THÔNG TIN THỊ TRƯỜNG LAO ĐỘNG CẤP TỈNH/THÀNH PHỐ    
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: center">
                    Kính gửi: - Bộ Lao động - Thương binh và Xã hội.................
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: center">
                    - Ủy ban nhân dân tỉnh/thành phố
                </p>
            </td>
        </tr>
    </tbody>
</table>
<br />
<br />
<!--tinh1-->
<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="font-size: 12px;width:72%">
    <tbody>
        <tr height="28" style="height:21.0pt">
            <td colspan="2" height="28" class="xl853864" width="462" style="height:21.0pt;
  width:347pt">
                A. Kết quả tổng hợp của
                tỉnh/thành phố
            </td>
            <td class="xl853864" width="98" style="width:74pt"></td>
            <td class="xl873864" width="117" style="width:88pt"></td>
            <td class="xl873864" width="117" style="width:88pt"></td>
            <td colspan="2" class="xl973864" width="234" style="width:176pt"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl683864" width="56" style="height:17.25pt;width:42pt">TT</td>
            <td class="xl683864" width="406" style="width:305pt">
                Chỉ
                tiêu
            </td>
            <td class="xl683864" width="98" style="width:74pt">
                Đơn
                vị
            </td>
            <td class="xl683864" width="117" style="width:88pt">
                Kỳ
                trước
            </td>
            <td class="xl683864" width="117" style="width:88pt">
                Tăng
                trong kỳ
            </td>
            <td class="xl683864" width="117" style="width:88pt">
                Giảm
                trong kỳ
            </td>
            <td class="xl683864" width="117" style="width:88pt">
                Kỳ báo
                cáo
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl883864" width="56" style="height:17.25pt;
  width:42pt">
                A
            </td>
            <td class="xl663864" width="406" style="
  width:305pt">
                B
            </td>
            <td class="xl663864" width="98" style="
  width:74pt">
                C
            </td>
            <td class="xl663864" width="117" style="
  width:88pt">
                1
            </td>
            <td class="xl663864" width="117" style="
  width:88pt">
                2
            </td>
            <td class="xl663864" width="117" style="
  width:88pt">
                3
            </td>
            <td class="xl663864" width="117" style="
  width:88pt">
                4
            </td>
        </tr>
        <tr height="26" style="height:19.5pt">
            <td colspan="7" height="26" class="xl963864" width="1028" style="border-right:.5pt solid black;
  height:19.5pt;width:773pt">
                I. Phần Cung lao động
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl683864" width="56" style="height:17.25pt;
  width:42pt">
                1
            </td>
            <td class="xl693864" width="406" style="
  width:305pt">
                Dân số từ 15 tuổi trở lên
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl723864" width="56" style="height:17.25pt;
  width:42pt">
                2
            </td>
            <td class="xl693864" width="406" style="
  width:305pt">
                Tổng số người tham gia hoạt
                động kinh tế
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl763864" width="56" style="height:17.25pt;width:42pt">2.1</td>
            <td class="xl753864" width="406" style="
  width:305pt">
                Số người có việc làm
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl773864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl773864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl773864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl773864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl703864" width="56" style="height:17.25pt;width:42pt">a<span ></span></td>
            <td colspan="6" class="xl893864" width="972" style="width:731pt">
                Chia
                theo giới tính
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl843864" width="56" style="height:17.25pt;width:42pt"></td>
            <td class="xl823864" width="406" style="width:305pt">- Nam</td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl833864" width="117" style="width:88pt"></td>
            <td class="xl833864" width="117" style="width:88pt"></td>
            <td class="xl833864" width="117" style="width:88pt"></td>
            <td class="xl833864" width="117" style="width:88pt"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl833864" width="56" style="height:17.25pt;width:42pt"></td>
            <td class="xl783864" width="406" style="
  width:305pt">
                - Nữ
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl703864" width="56" style="height:17.25pt;
  width:42pt">
                b<span ></span>
            </td>
            <td colspan="6" class="xl893864" width="972" style="width:731pt">
                Chia
                theo ngành kinh tế
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl843864" width="56" style="height:17.25pt;width:42pt"></td>
            <td class="xl823864" width="406" style="width:305pt">
                - Nông
                nghiệp, lâm nghiệp và thủy sản
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl833864" width="117" style="width:88pt"></td>
            <td class="xl833864" width="117" style="width:88pt"></td>
            <td class="xl833864" width="117" style="width:88pt"></td>
            <td class="xl833864" width="117" style="width:88pt"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl843864" width="56" style="height:17.25pt;width:42pt"></td>
            <td class="xl783864" width="406" style="
  width:305pt">
                - Công nghiệp, xây dựng
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl833864" width="56" style="height:17.25pt;width:42pt"></td>
            <td class="xl783864" width="406" style="
  width:305pt">
                - Thương mại, dịch vụ
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl703864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl773864" width="56" style="height:17.25pt;
  width:42pt">
                2.2
            </td>
            <td class="xl793864" width="406" style="
  width:305pt">
                Số người thất nghiệp
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td rowspan="3" height="69" class="xl933864" width="56" style="border-bottom:.5pt solid black;
  height:51.75pt;width:42pt">
                
            </td>
            <td colspan="6" class="xl903864" width="972" style="border-right:.5pt solid black;
  width:731pt">
                Chia theo giới tính
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl823864" width="406" style="height:17.25pt;border-left:
  none;width:305pt">
                - Nam
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl813864" width="117" style="width:88pt"></td>
            <td class="xl813864" width="117" style="width:88pt"></td>
            <td class="xl813864" width="117" style="width:88pt"></td>
            <td class="xl813864" width="117" style="width:88pt"></td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl783864" width="406" style="height:17.25pt;
  width:305pt">
                - Nữ
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl683864" width="56" style="height:17.25pt;
  width:42pt">
                3
            </td>
            <td class="xl743864" width="406" style="
  width:305pt">
                Tổng số người không tham gia hoạt
                động kinh tế
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td rowspan="4" height="92" class="xl723864" width="56" style="border-bottom:.5pt solid black;
  height:69.0pt;width:42pt">
                
            </td>
            <td colspan="6" class="xl903864" width="972" style="border-right:.5pt solid black;
  width:731pt">
                Chia theo lý do
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl803864" width="406" style="height:17.25pt;
  width:305pt">
                - Đi học
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl803864" width="406" style="height:17.25pt;
  width:305pt">
                - Khuyết tật
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <tr height="23" style="height:17.25pt">
            <td height="23" class="xl803864" width="406" style="height:17.25pt;
  width:305pt">
                - Khác
            </td>
            <td class="xl863864" width="98" style="
  width:74pt">
                Người
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
            <td class="xl733864" width="117" style="
  width:88pt">
                
            </td>
        </tr>
        <!--[if supportMisalignedColumns]-->
        <tr height="0" style="display:none">
            <td width="56" style="width:42pt"></td>
            <td width="406" style="width:305pt"></td>
            <td width="98" style="width:74pt"></td>
            <td width="117" style="width:88pt"></td>
            <td width="117" style="width:88pt"></td>
            <td width="117" style="width:88pt"></td>
            <td width="117" style="width:88pt"></td>
        </tr>
        <!--[endif]-->
    </tbody>
</table>
<br />
<br />
<!--tinh2-->
<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="font-size: 12px;width:72%">
    <colgroup>
        <col class="xl6516787" width="65" style="mso-width-alt:
 2377;width:49pt">
        <col class="xl6516787" width="327" style="mso-width-alt:
 11958;width:245pt">
        <col class="xl6516787" width="112" style="mso-width-alt:
 4096;width:84pt">
        <col class="xl6516787" width="100" style="mso-width-alt:
 3657;width:75pt">
        <col class="xl6516787" width="142" style="mso-width-alt:
 5193;width:107pt">
        <col class="xl6516787" width="130" style="mso-width-alt:
 4754;width:98pt">
        <col class="xl6516787" width="108" style="mso-width-alt:
 3949;width:81pt">
    </colgroup>
    <tbody>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl6616787" width="65" style="height:23.25pt;width:49pt">TT</td>
            <td class="xl6616787" width="327" style="width:245pt">
                Chỉ
                tiêu
            </td>
            <td class="xl6616787" width="112" style="width:84pt">
                Đơn
                vị
            </td>
            <td class="xl6616787" width="100" style="width:75pt">
                Kỳ
                trước
            </td>
            <td class="xl6616787" width="142" style="width:107pt">
                Tăng
                trong kỳ
            </td>
            <td class="xl6616787" width="130" style="width:98pt">
                Giảm
                trong kỳ
            </td>
            <td class="xl6616787" width="108" style="width:81pt">
                Kỳ
                báo cáo
            </td>
        </tr>
        <tr height="25" style="height:18.75pt">
            <td height="25" class="xl7616787" width="65" style="height:18.75pt;
  width:49pt">
                A
            </td>
            <td class="xl6416787" width="327" style="
  width:245pt">
                B
            </td>
            <td class="xl6416787" width="112" style="
  width:84pt">
                C
            </td>
            <td class="xl6416787" width="100" style="
  width:75pt">
                1
            </td>
            <td class="xl6416787" width="142" style="
  width:107pt">
                2
            </td>
            <td class="xl6416787" width="130" style="
  width:98pt">
                3
            </td>
            <td class="xl6416787" width="108" style="
  width:81pt">
                4
            </td>
        </tr>
        <tr height="32" style="height:24.0pt">
            <td colspan="7" height="32" class="xl8716787" width="984" style="height:24.0pt;
  width:739pt">
                II. Phần Cầu lao động
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl6616787" width="65" style="height:23.25pt;
  width:49pt">
                1
            </td>
            <td class="xl6716787" width="327" style="
  width:245pt">
                Tổng số doanh nghiệp
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Doanh nghiệp
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl7116787" width="65" style="height:23.25pt;
  width:49pt">
                
            </td>
            <td colspan="6" class="xl8316787" width="919" style="width:690pt">
                Chia
                theo loại hình doanh nghiệp
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl7916787" width="65" style="height:23.25pt;width:49pt"></td>
            <td class="xl7316787" width="327" style="width:245pt">
                - Nhà
                nước
            </td>
            <td class="xl7716787" width="112" style="width:84pt">
                Doanh
                nghiệp
            </td>
            <td class="xl7816787" width="100" style="width:75pt"></td>
            <td class="xl7816787" width="142" style="width:107pt"></td>
            <td class="xl7816787" width="130" style="width:98pt"></td>
            <td class="xl7816787" width="108" style="width:81pt"></td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl7916787" width="65" style="height:23.25pt;width:49pt"></td>
            <td class="xl7216787" width="327" style="
  width:245pt">
                - Ngoài nhà nước
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Doanh nghiệp
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl8016787" width="65" style="height:23.25pt;width:49pt"></td>
            <td class="xl7216787" width="327" style="
  width:245pt">
                - Vốn đầu tư nước ngoài
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Doanh nghiệp
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl6616787" width="65" style="height:23.25pt;
  width:49pt">
                2
            </td>
            <td class="xl6716787" width="327" style="
  width:245pt">
                Tổng số lao động
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl6916787" width="65" style="height:23.25pt;
  width:49pt">
                2.1
            </td>
            <td colspan="6" class="xl8416787" width="919" style="border-right:.5pt solid black;
  width:690pt">
                <span ></span>Chia
                theo giới tính
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td rowspan="2" height="62" class="xl8216787" width="65" style="border-bottom:.5pt solid black;
  height:46.5pt;width:49pt">
                
            </td>
            <td class="xl7216787" width="327" style="
  width:245pt">
                - Nam<span ></span>
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl7216787" width="327" style="height:23.25pt;border-top:
  none;width:245pt">
                - Nữ
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl7416787" width="65" style="height:23.25pt;width:49pt">2.2</td>
            <td colspan="6" class="xl8416787" width="919" style="border-right:.5pt solid black;
  width:690pt">
                Chia theo loại lao động
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td rowspan="3" height="93" class="xl7516787" width="65" style="height:69.75pt;
  width:49pt">
                
            </td>
            <td class="xl7216787" width="327" style="
  width:245pt">
                - Số lao động trực tiếp
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl8116787" width="327" style="height:23.25pt;border-top:
  none;width:245pt">
                - Số lao động gián
                tiếp
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6816787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6816787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6816787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6816787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl8116787" width="327" style="height:23.25pt;border-left:
  none;width:245pt">
                - Số lao động ngoại tỉnh
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6816787" width="100" style="width:75pt"></td>
            <td class="xl6816787" width="142" style="width:107pt"></td>
            <td class="xl6816787" width="130" style="width:98pt"></td>
            <td class="xl6816787" width="108" style="width:81pt"></td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td height="31" class="xl7416787" width="65" style="height:23.25pt;width:49pt">2.3</td>
            <td colspan="6" class="xl8416787" width="919" style="border-right:.5pt solid black;
  width:690pt">
                Chia theo trình độ chuyên môn
                kỹ thuật
            </td>
        </tr>
        <tr height="31" style="height:23.25pt">
            <td rowspan="2" height="115" class="xl8216787" width="65" style="border-bottom:.5pt solid black;
  height:86.25pt;width:49pt">
                
            </td>
            <td class="xl7216787" width="327" style="
  width:245pt">
                - Số lao động không có trình độ CMKT
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="84" style="height:63.0pt">
            <td height="84" class="xl8116787" width="327" style="height:63.0pt;
  width:245pt">
                - Số lao động có trình
                độ CMKT từ công nhân kỹ thuật không có
                bằng nghề/chứng chỉ nghề trở lên
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl6616787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl6616787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl6616787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl6616787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <tr height="35" style="height:26.25pt">
            <td height="35" class="xl6616787" width="65" style="height:26.25pt;
  width:49pt">
                2.4
            </td>
            <td class="xl6716787" width="327" style="width:245pt">
                Nhu
                cầu tuyển lao động
            </td>
            <td class="xl7516787" width="112" style="
  width:84pt">
                Người
            </td>
            <td class="xl7016787" width="100" style="
  width:75pt">
                
            </td>
            <td class="xl7016787" width="142" style="
  width:107pt">
                
            </td>
            <td class="xl7016787" width="130" style="
  width:98pt">
                
            </td>
            <td class="xl7016787" width="108" style="
  width:81pt">
                
            </td>
        </tr>
        <!--[if supportMisalignedColumns]-->
        <tr height="0" style="display:none">
            <td width="65" style="width:49pt"></td>
            <td width="327" style="width:245pt"></td>
            <td width="112" style="width:84pt"></td>
            <td width="100" style="width:75pt"></td>
            <td width="142" style="width:107pt"></td>
            <td width="130" style="width:98pt"></td>
            <td width="108" style="width:81pt"></td>
        </tr>
        <tr height="27" style="height:20.25pt">
            <td></td>
            <td colspan="6"><i>Ghi chú: Số kỳ báo cáo = Số kỳ trước + số tăng trong kỳ - số giảm trong kỳ</i></td>
        </tr>
        <!--[endif]-->
    </tbody>
</table>
<!--tinh3-->
<br />
<br />
<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="font-size: 12px;width:72%">
    <colgroup>
        <col class="xl6426126" width="35" style="mso-width-source:userset;mso-width-alt:
 1280;width:26pt">
        <col class="xl6426126" width="123" style="mso-width-source:userset;mso-width-alt:
 4498;width:92pt">
        <col class="xl6426126" width="33" style="mso-width-source:userset;mso-width-alt:
 1206;width:25pt">
        <col class="xl6426126" width="44" style="mso-width-source:userset;mso-width-alt:
 1609;width:33pt">
        <col class="xl6426126" width="42" span="2" style="mso-width-source:userset;
 mso-width-alt:1536;width:32pt">
        <col class="xl6426126" width="38" style="mso-width-source:userset;mso-width-alt:
 1389;width:29pt">
        <col class="xl6426126" width="39" style="mso-width-source:userset;mso-width-alt:
 1426;width:29pt">
        <col class="xl6426126" width="38" style="mso-width-source:userset;mso-width-alt:
 1389;width:29pt">
        <col class="xl6426126" width="42" style="mso-width-source:userset;mso-width-alt:
 1536;width:32pt">
        <col class="xl6426126" width="36" style="mso-width-source:userset;mso-width-alt:
 1316;width:27pt">
        <col class="xl6426126" width="38" style="mso-width-source:userset;mso-width-alt:
 1389;width:29pt">
        <col class="xl6426126" width="41" span="2" style="mso-width-source:userset;
 mso-width-alt:1499;width:31pt">
        <col class="xl6426126" width="38" style="mso-width-source:userset;mso-width-alt:
 1389;width:29pt">
        <col class="xl6426126" width="41" style="mso-width-source:userset;mso-width-alt:
 1499;width:31pt">
        <col class="xl6426126" width="40" style="mso-width-source:userset;mso-width-alt:
 1462;width:30pt">
        <col class="xl6426126" width="38" style="mso-width-source:userset;mso-width-alt:
 1389;width:29pt">
        <col class="xl6426126" width="44" style="mso-width-source:userset;mso-width-alt:
 1609;width:33pt">
        <col class="xl6426126" width="47" style="mso-width-source:userset;mso-width-alt:
 1718;width:35pt">
        <col class="xl6426126" width="40" style="mso-width-source:userset;mso-width-alt:
 1462;width:30pt">
        <col class="xl6426126" width="41" style="mso-width-source:userset;mso-width-alt:
 1499;width:31pt">
    </colgroup>
    <tbody>
        <tr height="25" style="mso-height-source:userset;height:18.75pt">
            <td colspan="22" height="25" class="xl9226126" width="961" style="height:18.75pt;
  width:725pt">
                B. Chi tiết từng huyện/quận/thị
                xã/thành phố
            </td>
        </tr>
        <tr height="24" style="mso-height-source:userset;height:18.0pt">
            <td colspan="9" height="24" class="xl8026126" style="height:18.0pt">
                I. Phần
                Cung lao động
            </td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td class="xl7426126"></td>
            <td colspan="4" class="xl9326126">Đơn vị: Người</td>
        </tr>
        <tr height="20" style="mso-height-source:userset;height:15.0pt">
            <td rowspan="3" height="160" class="xl8126126" width="35" style="height:120.0pt;
  border-top:none;width:26pt">
                STT
            </td>
            <td rowspan="3" class="xl8126126" width="123" style="border-top:none;width:92pt">
                Tên
                huyện/quận/thị xã/thành phố
            </td>
            <td colspan="4" class="xl8926126" style="border-right:.5pt solid black;
  border-left:none">
                Kỳ trước<span style="mso-spacerun:yes"></span>
            </td>
            <td colspan="4" class="xl8926126" style="border-right:.5pt solid black;
  border-left:none">
                Kỳ báo cáo
            </td>
            <td colspan="6" class="xl8526126" style="border-left:none">Tăng<span style="mso-spacerun:yes"></span></td>
            <td colspan="6" class="xl8326126">Giảm</td>
        </tr>
        <tr height="20" style="mso-height-source:userset;height:15.0pt">
            <td rowspan="2" height="140" class="xl7626126" width="33" style="border-bottom:.5pt solid black;
  height:105.0pt;border-top:none;width:25pt">
                Tổng số
            </td>
            <td rowspan="2" class="xl7826126" width="44" style="border-top:none;width:33pt">
                Số
                người có việc làm<span style="mso-spacerun:yes"></span>
            </td>
            <td rowspan="2" class="xl7826126" width="42" style="border-top:none;width:32pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7626126" width="42" style="border-bottom:.5pt solid black;
  border-top:none;width:32pt">
                Số người không tham gia
                HĐKT
            </td>
            <td rowspan="2" class="xl7626126" width="38" style="border-bottom:.5pt solid black;
  border-top:none;width:29pt">
                Tổng số<span style="mso-spacerun:yes"></span>
            </td>
            <td rowspan="2" class="xl7826126" width="39" style="border-top:none;width:29pt">
                Số
                người có việc làm<span style="mso-spacerun:yes"></span>
            </td>
            <td rowspan="2" class="xl7826126" width="38" style="border-top:none;width:29pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7626126" width="42" style="border-bottom:.5pt solid black;
  border-top:none;width:32pt">
                Số người không tham gia
                HĐKT
            </td>
            <td rowspan="2" class="xl7826126" width="36" style="width:27pt">
                Số
                người có việc làm<span style="mso-spacerun:yes"></span>
            </td>
            <td colspan="3" class="xl8726126" style="border-left:none">Trong đó</td>
            <td rowspan="2" class="xl7826126" width="38" style="width:29pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7626126" width="41" style="border-bottom:.5pt solid black;
  width:31pt">
                Số người không tham gia HĐKT
            </td>
            <td rowspan="2" class="xl7826126" width="40" style="border-top:none;width:30pt">
                Số
                người có việc làm<span style="mso-spacerun:yes"></span>
            </td>
            <td colspan="3" class="xl8726126" style="border-left:none">Trong đó</td>
            <td rowspan="2" class="xl7826126" width="40" style="border-top:none;width:30pt">
                Số
                người thất nghiệp
            </td>
            <td rowspan="2" class="xl7626126" width="41" style="border-bottom:.5pt solid black;
  border-top:none;width:31pt">
                Số người không tham gia
                HĐKT
            </td>
        </tr>
        <tr height="120" style="height:90.0pt">
            <td height="120" class="xl7226126" width="38" style="height:90.0pt;border-left:
  none;width:29pt">
                Số người chuyển đến
            </td>
            <td class="xl7126126" width="41" style="border-left:none;width:31pt">
                Số
                thay đổi từ TN sang có VL<span style="mso-spacerun:yes"></span>
            </td>
            <td class="xl7126126" width="41" style="border-left:none;width:31pt">
                Số
                thay đổi từ không HĐKT sang có làm việc<span style="mso-spacerun:yes"></span>
            </td>
            <td class="xl7226126" width="38" style="border-left:none;width:29pt">
                Số
                người chuyển đi
            </td>
            <td class="xl7126126" width="44" style="border-left:none;width:33pt">
                Số
                người thay đổi có việc làm<span style="mso-spacerun:yes"> </span>sang TN
            </td>
            <td class="xl7126126" width="47" style="border-left:none;width:35pt">
                Số
                người từ có<span style="mso-spacerun:yes"> </span>VL sang
                k.HĐKT
            </td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl7526126" width="35" style="height:15.0pt;border-top:none;
  width:26pt">
                A
            </td>
            <td class="xl7526126" width="123" style="border-top:none;border-left:none;
  width:92pt">
                B
            </td>
            <td class="xl7526126" width="33" style="border-top:none;border-left:none;
  width:25pt">
                1
            </td>
            <td class="xl7526126" width="44" style="border-left:none;width:33pt">2</td>
            <td class="xl7526126" width="42" style="border-left:none;width:32pt">3</td>
            <td class="xl7526126" width="42" style="border-top:none;border-left:none;
  width:32pt">
                4
            </td>
            <td class="xl7526126" width="38" style="border-top:none;border-left:none;
  width:29pt">
                5
            </td>
            <td class="xl7526126" width="39" style="border-left:none;width:29pt">6</td>
            <td class="xl7526126" width="38" style="border-left:none;width:29pt">7</td>
            <td class="xl7526126" width="42" style="border-top:none;border-left:none;
  width:32pt">
                8
            </td>
            <td class="xl7526126" width="36" style="border-left:none;width:27pt">9</td>
            <td class="xl7526126" width="38" style="border-top:none;border-left:none;
  width:29pt">
                10
            </td>
            <td class="xl7526126" width="41" style="border-left:none;width:31pt">11</td>
            <td class="xl7526126" width="41" style="border-left:none;width:31pt">12</td>
            <td class="xl7526126" width="38" style="border-left:none;width:29pt">13</td>
            <td class="xl7526126" width="41" style="border-top:none;border-left:none;
  width:31pt">
                14
            </td>
            <td class="xl7526126" width="40" style="border-left:none;width:30pt">15</td>
            <td class="xl7526126" width="38" style="border-top:none;border-left:none;
  width:29pt">
                16
            </td>
            <td class="xl7526126" width="44" style="border-left:none;width:33pt">17</td>
            <td class="xl7526126" width="47" style="border-left:none;width:35pt">18</td>
            <td class="xl7526126" width="40" style="border-left:none;width:30pt">19</td>
            <td class="xl7526126" width="41" style="border-top:none;border-left:none;
  width:31pt">
                20
            </td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl7026126" style="height:17.25pt;border-top:none">1</td>
            <td class="xl7026126" style="border-top:none;border-left:none"></td>
            <td class="xl7026126" style="border-top:none;border-left:none"></td>
            <td class="xl7026126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6926126" style="border-left:none"></td>
            <td class="xl6626126" style="border-left:none"></td>
            <td class="xl6626126" style="border-left:none"></td>
            <td class="xl6626126" style="border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
            <td class="xl6826126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none">2</td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none">3</td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6726126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6726126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6626126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6626126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6626126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6626126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6626126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl6626126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
            <td class="xl6626126" style="border-top:none;border-left:none"></td>
        </tr>
        <tr height="23" style="mso-height-source:userset;height:17.25pt">
            <td height="23" class="xl7326126" style="height:17.25pt;border-top:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
            <td class="xl6526126" style="border-top:none;border-left:none"></td>
        </tr>
        <!--[if supportMisalignedColumns]-->
        <tr height="0" style="display:none">
            <td width="35" style="width:26pt"></td>
            <td width="123" style="width:92pt"></td>
            <td width="33" style="width:25pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="36" style="width:27pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="47" style="width:35pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="41" style="width:31pt"></td>
        </tr>
        <!--[endif]-->
    </tbody>
</table>
<!--tinh4-->
<br />
<br />
<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="font-size: 12px;width:72%">
    <colgroup>
        <col class="xl6431227" width="35" style="mso-width-alt:
 1280;width:26pt">
        <col class="xl6431227" width="135" style="mso-width-alt:
 4937;width:101pt">
        <col class="xl6431227" width="45" style="mso-width-alt:
 1645;width:34pt">
        <col class="xl6431227" width="44" style="mso-width-alt:
 1609;width:33pt">
        <col class="xl6431227" width="42" span="3" style="
 mso-width-alt:1536;width:32pt">
        <col class="xl6431227" width="38" style="mso-width-alt:
 1389;width:29pt">
        <col class="xl6431227" width="39" style="mso-width-alt:
 1426;width:29pt">
        <col class="xl6431227" width="38" span="2" style="
 mso-width-alt:1389;width:29pt">
        <col class="xl6431227" width="42" style="mso-width-alt:
 1536;width:32pt">
        <col class="xl6431227" width="46" style="mso-width-alt:
 1682;width:35pt">
        <col class="xl6431227" width="44" style="mso-width-alt:
 1609;width:33pt">
        <col class="xl6431227" width="45" style="mso-width-alt:
 1645;width:34pt">
        <col class="xl6431227" width="47" style="mso-width-alt:
 1718;width:35pt">
        <col class="xl6431227" width="46" style="mso-width-alt:
 1682;width:35pt">
        <col class="xl6431227" width="49" style="mso-width-alt:
 1792;width:37pt">
        <col class="xl6431227" width="44" style="mso-width-alt:
 1609;width:33pt">
        <col class="xl6431227" width="51" style="mso-width-alt:
 1865;width:38pt">
    </colgroup>
    <tbody>
        <tr height="39" style="height:29.25pt">
            <td rowspan="3" height="171" class="xl7431227" width="35" style="height:128.25pt;
  width:26pt">
                STT
            </td>
            <td rowspan="3" class="xl7431227" width="135" style="width:101pt">
                Tên
                huyện/quận/thị xã
            </td>
            <td colspan="5" class="xl8331227" width="215" style="border-right:.5pt solid black;
  width:163pt">
                Kỳ trước<span ></span>
            </td>
            <td colspan="5" class="xl8331227" width="195" style="border-right:.5pt solid black;
  width:148pt">
                Kỳ báo cáo
            </td>
            <td colspan="4" class="xl8631227" width="182" style="width:137pt">
                DN
                mới thành lập/chuyển đến
            </td>
            <td colspan="4" class="xl7231227" width="190" style="width:143pt">
                DN chuyển
                đi, giải thể/phá sản, không tìm thấy
            </td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td rowspan="2" height="132" class="xl7331227" width="45" style="border-bottom:.5pt solid black;
  height:99.0pt;width:34pt">
                Tổng số doanh
                nghiệp
            </td>
            <td rowspan="2" class="xl7331227" width="44" style="border-bottom:.5pt solid black;
  width:33pt">
                Số lao động trực
                tiếp
            </td>
            <td rowspan="2" class="xl7331227" width="42" style="border-bottom:.5pt solid black;
  width:32pt">
                Số lao động gián tiếp
            </td>
            <td rowspan="2" class="xl7331227" width="42" style="border-bottom:.5pt solid black;
  width:32pt">
                Số lao động đã qua đào
                tạo
            </td>
            <td rowspan="2" class="xl7331227" width="42" style="border-bottom:.5pt solid black;
  width:32pt">
                Số lao động đã ký hợp
                đồng
            </td>
            <td rowspan="2" class="xl7331227" width="38" style="border-bottom:.5pt solid black;
  width:29pt">
                Tổng số doanh nghiệp
            </td>
            <td rowspan="2" class="xl7331227" width="39" style="border-bottom:.5pt solid black;
  width:29pt">
                Số lao động trực
                tiếp
            </td>
            <td rowspan="2" class="xl7331227" width="38" style="border-bottom:.5pt solid black;
  width:29pt">
                Số lao động gián tiếp
            </td>
            <td rowspan="2" class="xl7331227" width="38" style="border-bottom:.5pt solid black;
  width:29pt">
                Số lao động đã qua đào
                tạo
            </td>
            <td rowspan="2" class="xl7331227" width="42" style="border-bottom:.5pt solid black;
  width:32pt">
                Số lao động đã ký hợp
                đồng
            </td>
            <td rowspan="2" class="xl7331227" width="46" style="border-bottom:.5pt solid black;
  width:35pt">
                Số doanh nghiệp mới thành lập
            </td>
            <td rowspan="2" class="xl7631227" width="44" style="border-bottom:.5pt solid black;
  width:33pt">
                Số lao động
            </td>
            <td rowspan="2" class="xl7831227" width="45" style="width:34pt">
                Số lao
                động đã ký hợp đồng
            </td>
            <td rowspan="2" class="xl7331227" width="47" style="border-bottom:.5pt solid black;
  width:35pt">
                Số lao động đã qua đào tạo
                tăng thêm
            </td>
            <td rowspan="2" class="xl7331227" width="46" style="border-bottom:.5pt solid black;
  width:35pt">
                Số doanh nghiệp giảm đi
            </td>
            <td rowspan="2" class="xl7631227" width="49" style="border-bottom:.5pt solid black;
  width:37pt">
                Số lao động
            </td>
            <td rowspan="2" class="xl7831227" width="44" style="width:33pt">
                Số
                lao động đã ký hợp đồng
            </td>
            <td rowspan="2" class="xl7331227" width="51" style="border-bottom:.5pt solid black;
  width:38pt">
                Số lao động đã qua đào
                tạo giảm
            </td>
        </tr>
        <tr height="112" style="height:84.0pt">
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl7231227" width="35" style="height:15.0pt;
  width:26pt">
                A
            </td>
            <td class="xl7231227" width="135" style="
  width:101pt">
                B
            </td>
            <td class="xl7231227" width="45" style="
  width:34pt">
                1
            </td>
            <td class="xl7231227" width="44" style="
  width:33pt">
                2
            </td>
            <td class="xl7231227" width="42" style="
  width:32pt">
                3
            </td>
            <td class="xl7231227" width="42" style="
  width:32pt">
                4
            </td>
            <td class="xl7231227" width="42" style="
  width:32pt">
                5
            </td>
            <td class="xl7231227" width="38" style="
  width:29pt">
                6
            </td>
            <td class="xl7231227" width="39" style="
  width:29pt">
                7
            </td>
            <td class="xl7231227" width="38" style="
  width:29pt">
                8
            </td>
            <td class="xl7231227" width="38" style="
  width:29pt">
                9
            </td>
            <td class="xl7231227" width="42" style="
  width:32pt">
                10
            </td>
            <td class="xl7231227" width="46" style="
  width:35pt">
                11
            </td>
            <td class="xl7231227" width="44" style="
  width:33pt">
                12
            </td>
            <td class="xl7231227" width="45" style="width:34pt">13</td>
            <td class="xl7231227" width="47" style="
  width:35pt">
                14
            </td>
            <td class="xl7231227" width="46" style="
  width:35pt">
                15
            </td>
            <td class="xl7231227" width="49" style="
  width:37pt">
                16
            </td>
            <td class="xl7231227" width="44" style="width:33pt">17</td>
            <td class="xl7231227" width="51" style="
  width:38pt">
                18
            </td>
        </tr>
        <tr height="22" style="height:16.5pt">
            <td height="22" class="xl7031227" style="height:16.5pt;border-top:none">1</td>
            <td class="xl7031227" ></td>
            <td class="xl7031227" ></td>
            <td class="xl7031227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6931227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
            <td class="xl6831227" ></td>
        </tr>
        <tr height="22" style="height:16.5pt">
            <td height="22" class="xl6731227" style="height:16.5pt;border-top:none">2</td>
            <td class="xl6731227" ></td>
            <td class="xl6731227" ></td>
            <td class="xl6731227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
            <td class="xl6631227" ></td>
        </tr>
        <!--[if supportMisalignedColumns]-->
        <tr height="0" style="display:none">
            <td width="35" style="width:26pt"></td>
            <td width="135" style="width:101pt"></td>
            <td width="45" style="width:34pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="46" style="width:35pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="45" style="width:34pt"></td>
            <td width="47" style="width:35pt"></td>
            <td width="46" style="width:35pt"></td>
            <td width="49" style="width:37pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="51" style="width:38pt"></td>
        </tr>
        <tr height="27" style="height:20.25pt">
            <td></td>
            <td colspan="6"><i>Ghi chú: Số kỳ báo cáo = Số kỳ trước + số tăng trong kỳ - số giảm trong kỳ</i></td>
        </tr>
        <!--[endif]-->
    </tbody>
</table>
<table id="data_footer" width="96%" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tbody>
        <tr>
            <td style="vertical-align: top;" width="40%">
                <i>Ngày......tháng......năm...........</i><br>
                <b>Người báo cáo</b><br>
                <i>(Chữ ký, dấu)</i>
            </td>
            <td style="vertical-align: top;">
                <i>Ngày......tháng......năm...........</i><br>
                <b>GIÁM ĐỐC</b><br>
                <i>(Ký và đóng dấu)</i><br />

            </td>
        </tr>
    </tbody>
</table>