@model QLViecLam.Models.Admin.Manages.ThongTinThiTruongLD.TuyenDung
@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
        $(document).ready(function () {
            TableManaged.init();
        });


    </script>
}
<div class="card card-custom">
    <div class="card-header ribbon ribbon-top ribbon-ver">
        <div class="card-title">
            <h3 class="card-label"> Thông tin tuyển dụng</h3>
        </div>
    </div>
    <!--begin::Form-->
    <form asp-controller="TuyenDung" asp-action="Store" method="post" enctype="multipart/form-data" id="frm_vchk_store">
        <div class="card-body">
            <div class="mb-3 font-weight-bold font-size-lg">
                <label style="color: blue; text-decoration-line: underline; font-weight: bold">Thông tin hồ sơ</label>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label><b>Nội dung tuyển dụng</b></label>
                        <input type="text" class="form-control" asp-for="NoiDung" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label><b>Thời hạn tuyển dụng</b></label>
                        <input type="date" class="form-control" asp-for="ThoiHan" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label><b>Nhân viên tuyển dụng</b></label>
                        <input type="text" asp-for="Contact" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-6">
                    <div class="form-group">
                        <label><b>Số điện thoại tuyển dụng</b></label>
                        <input type="text" asp-for="PhoneTd" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="form-group">
                        <label><b>Mail tuyển dụng</b></label>
                        <input type="text" asp-for="EmailTd" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label><b>Chức vụ tuyển dụng</b></label>
                        <input type="text" asp-for="ChucvuTd" class="form-control" />
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="form-group">
                        <label><b>Yêu cầu tuyển dụng</b></label>
                        <input type="text" asp-for="YeuCau" class="form-control" />
                    </div>
                </div>
            </div>

            @await Html.PartialAsync("~/Views/Admin/Manages/ThongTinThiTruongLD/ThuThapTT/CSDLThuThapTT/DangKyGTCungUng/ViTriTuyenDung.cshtml")

        </div>
        <div class="card-footer" style="text-align:center">
            <a asp-controller="DangKyGTCungUng" asp-action="TuyenDung" asp-route-user="@ViewData["user"]" class="btn btn-danger">
                <i class="la la-reply"></i>Quay lại
            </a>&ensp;
            <button type="reset" class="btn btn-secondary"><i class="la la-refresh"></i>Nhập lại</button>&ensp;
            <button type="button" class="btn btn-primary mr-2" onclick="ValidateVchk()"><i class="la la-check"></i>Thêm mới</button>
        </div>
    </form>
    <!--end::Form-->
</div>
<script>
    function ValidateVchk() {
        if ($('#Socv').val().trim() == '') {
            toastr.error("Số công văn không được để trống!", "Lỗi!!!")
        } else {
            if ($('#Ngayhieuluc').val().trim() == '') {
                toastr.error("Ngày thực hiện mức giá kê khai không được để trống!", "Lỗi!!!")
            } else {
                if ($('#Ngaycvlk').val().trim() == '') {
                    toastr.error("Ngày nhập số công văn liền kề không được để trống!", "Lỗi!!!")
                } else {
                    document.getElementById("frm_vchk_store").submit();
                }
            }
        }
    }
</script>