<!--Delete Modal-->
<div class="modal fade" id="Delete_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    @ViewData["Title"]
                    <span class="d-block text-muted pt-2 font-size-sm">
                        Xóa thông tin lập kế hoạch thu thập thông tin
                    </span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Kế hoạch:</label>
                            <label class="form-control" id="kehoach_delete" name="kehoach_delete"></label>
                            <input hidden id="id_delete" name="id_delete" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger font-weight-bold" onclick="Remove()">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!--Chuyen Modal-->
<div class="modal fade" id="Chuyen_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    @ViewData["Title"]
                    <span class="d-block text-muted pt-2 font-size-sm">
                        Chuyển xét duyệt thông tin lập kế hoạch thu thập thông tin
                    </span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Kế hoạch:</label>
                            <p class="form-control" id="kehoach_chuyen" name="kehoach_chuyen"></p>
                            <input hidden id="id_chuyen" name="id_chuyen" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary font-weight-bold" onclick="ChuyenXetDuyet()">Chuyển xét duyệt</button>
            </div>
        </div>
    </div>
</div>

<!--Ly Do Modal-->
<div class="modal fade" id="LyDo_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="card-label">
                    @ViewData["Title"]
                    <span class="d-block text-muted pt-2 font-size-sm">
                        Lý do trả lại thông tin lập kế hoạch thu thập thông tin
                    </span>
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Kế hoạch:</label>
                            <label class="form-control" id="kehoach_tralai" name="kehoach_tralai"></label>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="form-group fv-plugins-icon-container">
                            <label>Lý do:</label>
                            <label class="form-control" id="lydo_tralai" name="lydo_tralai"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    function SetChuyen(id, kehoach){
        document.getElementById("kehoach_chuyen").innerHTML = kehoach;
        document.getElementById("id_chuyen").value = id;
        $('#Chuyen_Modal').modal("show");
    }
    function ChuyenXetDuyet() {
        $.ajax({
            url: '/KeHoachThuThapThongTin/ChuyenXetDuyet',
            type: 'POST',
            data: {
                Id: $('#id_chuyen').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công!!!");
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }
    function GetLyDo(kehoach, lydo){
        document.getElementById("kehoach_tralai").innerHTML = kehoach;
        document.getElementById("lydo_tralai").innerHTML = lydo;
        $('#LyDo_Modal').modal("show");
    }
    function Delete(id, kehoach) {
        document.getElementById("kehoach_delete").innerHTML = kehoach;
        document.getElementById("id_delete").value = id;
        $('#Delete_Modal').modal("show");
    }
    function Remove() {
        $.ajax({
            url: '/KeHoachThuThapThongTin/Remove',
            type: 'POST',
            data: {
                Id: $('#id_delete').val(),
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.status == 'success') {
                    toastr.success("Cập nhật thông tin thành công!", "Thành công!!!");
                    location.reload();
                } else {
                    toastr.error(data.message, "Lỗi!");
                }
            }
        })
    }    
</script>