@{
    Layout = "_LayoutPrint";
    var record_id = 1;
}

<br />
<br />
<table width="96%" border="0" cellspacing="0" cellpadding="8" style="margin:0 auto 20px; text-align: center;">
    <tr>
        <td width="40%" style="vertical-align: top;">
            TÊN DOANH NGHIỆP, CƠ QUAN, TỔ CHỨC
            <hr style="width: 10%;vertical-align: top;  margin-top: 2px; font-weight: bold">
        </td>
        <td style="vertical-align: top;">
            <b>
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM<br>
                Độc lập - Tự do - Hạnh phúc
            </b>
            <hr style="width: 15%;vertical-align: top; margin-top: 2px; font-weight: bold">
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">Số: .........</td>
        <td style="vertical-align: top"><i>, ngày....tháng....năm....</i></td>
    </tr>
</table>
<p style="text-align: center; font-weight: bold; font-size: 16px;">Báo cáo tình hình sử dụng lao động</p>

<table align="left" border="1" cellpadding="0" cellspacing="0" style="width:100.0%">
	<tbody>
		<tr>
			<td rowspan="3" style="width:2.66%">
				<p style="text-align:justify"><span><strong>STT</strong></span></p>
			</td>
			<td rowspan="3" style="width:2.12%">
				<p style="text-align:justify"><span><strong>Họ tên</strong></span></p>
			</td>
			<td rowspan="3" style="width:3.92%">
				<p style="text-align:justify"><span><strong>Mã số BHXH</strong></span></p>
			</td>
			<td rowspan="3" style="width:3.78%">
				<p style="text-align:justify"><span><strong>Ngày</strong> <strong>tháng</strong> <strong>năm</strong> <strong>sinh</strong></span></p>
			</td>
			<td rowspan="3" style="width:2.86%">
				<p style="text-align:justify"><span><strong>Giới</strong> <strong>tính</strong></span></p>
			</td>
			<td rowspan="3" style="width:4.52%">
				<p style="text-align:justify"><span><strong>Số</strong> <strong>CCCD/ CMND/ Hộ chiếu</strong></span></p>
			</td>
			<td rowspan="3" style="width:3.7%">
				<p style="text-align:justify"><span><strong>Cấp bậc,</strong> <strong>chức vụ, chứ</strong><strong>c </strong><strong>danh nghề, nơi làm việc</strong></span></p>
			</td>
			<td colspan="4" style="width:17.04%">
				<p style="text-align:justify"><span><strong>Vị trí việc làm (2)</strong></span></p>
			</td>
			<td colspan="6" style="width:23.26%">
				<p style="text-align:justify"><span><strong>Tiền lương</strong></span></p>
			</td>
			<td colspan="2" rowspan="2" style="width:7.94%">
				<p style="text-align:justify"><span><strong>Ngành/nghề nặng nhọc, độc hại</strong></span></p>
			</td>
			<td colspan="5" style="width:17.78%">
				<p style="text-align:justify"><span><strong>Loại và hiệu lực hợp đồng lao đ</strong><strong>ộ</strong><strong>ng</strong></span></p>
			</td>
			<td rowspan="3" style="width:3.92%">
				<p style="text-align:justify"><span><strong>Thời điểm đơn vị bắt đầu đóng BHXH</strong></span></p>
			</td>
			<td rowspan="3" style="width:3.92%">
				<p style="text-align:justify"><span><strong>Thời điểm đơn vị kết thúc đóng BHXH</strong></span></p>
			</td>
			<td rowspan="3" style="width:2.5%">
				<p style="text-align:justify"><span><strong>Ghi</strong> <strong>chú</strong></span></p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="width:3.32%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Nhà quản lý</strong></span></p>
			</td>
			<td rowspan="2" style="width:5.06%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Chuyên môn kỹ thuật bậc cao</strong></span></p>
			</td>
			<td rowspan="2" style="width:5.26%">
				<p style="margin-left:6.4pt; text-align:justify"><span><strong>Chuyên môn kỹ thuật bậc trung</strong></span></p>
			</td>
			<td rowspan="2" style="width:3.4%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Khác</strong></span></p>
			</td>
			<td rowspan="2" style="width:4.06%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Hệ số/ Mức lương</strong></span></p>
			</td>
			<td colspan="5" style="width:19.2%">
				<p style="text-align:justify"><span><strong>Phụ cấp</strong></span></p>
			</td>
			<td rowspan="2" style="width:4.16%">
				<p style="text-align:justify"><span><strong>Ngày bắt đầu HĐLĐ không xác định thời hạn</strong></span></p>
			</td>
			<td colspan="2" style="width:6.82%">
				<p style="text-align:justify"><span>Hiệu lực HĐLĐ xác định thời hạn</span></p>
			</td>
			<td colspan="2" style="width:6.82%">
				<p style="text-align:justify"><span><strong>Hiệu lực HĐLĐ khác (dưới 1 tháng, thử việc)</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="height:76px; width:3.64%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Chức vụ</strong></span></p>
			</td>
			<td style="height:76px; width:3.7%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Thâm niên VK (%)</strong></span></p>
			</td>
			<td style="height:76px; width:3.7%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Thâm niên nghề (%)</strong></span></p>
			</td>
			<td style="height:76px; width:4.06%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Phụ cấp lương</strong></span></p>
			</td>
			<td style="height:76px; width:4.08%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Các khoản bổ sung</strong></span></p>
			</td>
			<td style="height:76px; width:4.54%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Ngày bắt đầu</strong></span></p>
			</td>
			<td style="height:76px; width:3.4%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Ngày kết thúc</strong></span></p>
			</td>
			<td style="height:76px; width:3.4%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Ngày bắt đầu</strong></span></p>
			</td>
			<td style="height:76px; width:3.4%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Ngày kết thúc</strong></span></p>
			</td>
			<td style="height:76px; width:3.4%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Ngày bắt đầu</strong></span></p>
			</td>
			<td style="height:76px; width:3.4%">
				<p style="margin-left:5.65pt; text-align:justify"><span><strong>Ngày kết thúc</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:2.66%">
				<p style="text-align:justify"><span>1</span></p>
			</td>
			<td style="width:2.12%">
				<p style="text-align:justify"><span>2</span></p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify"><span>3</span></p>
			</td>
			<td style="width:3.78%">
				<p style="text-align:justify"><span>4</span></p>
			</td>
			<td style="width:2.86%">
				<p style="text-align:justify"><span>5</span></p>
			</td>
			<td style="width:4.52%">
				<p style="text-align:justify"><span>6</span></p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify"><span>7</span></p>
			</td>
			<td style="width:3.32%">
				<p style="text-align:justify"><span>8</span></p>
			</td>
			<td style="width:5.06%">
				<p style="text-align:justify"><span>9</span></p>
			</td>
			<td style="width:5.26%">
				<p style="text-align:justify"><span>10</span></p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify"><span>11</span></p>
			</td>
			<td style="width:4.06%">
				<p style="text-align:justify"><span>12</span></p>
			</td>
			<td style="width:3.64%">
				<p style="text-align:justify"><span>13</span></p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify"><span>14</span></p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify"><span>15</span></p>
			</td>
			<td style="width:4.06%">
				<p style="text-align:justify"><span>16</span></p>
			</td>
			<td style="width:4.08%">
				<p style="text-align:justify"><span>17</span></p>
			</td>
			<td style="width:4.54%">
				<p style="text-align:justify"><span>18</span></p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify"><span>19</span></p>
			</td>
			<td style="width:4.16%">
				<p style="text-align:justify"><span>20</span></p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify"><span>21</span></p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify"><span>22</span></p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify"><span>23</span></p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify"><span>24</span></p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify"><span>25</span></p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify"><span>26</span></p>
			</td>
			<td style="width:2.5%">
				<p style="text-align:justify"><span>27</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:2.66%">
				<p style="text-align:justify"><span>…</span></p>
			</td>
			<td style="width:2.12%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.78%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:2.86%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.52%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.32%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:5.06%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:5.26%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.06%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.64%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.06%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.08%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.54%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.16%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:2.5%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:2.66%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td colspan="2" style="width:6.06%">
				<p style="text-align:justify"><span><strong>Tổng</strong></span></p>
			</td>
			<td style="width:3.78%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:2.86%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.52%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.32%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:5.06%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:5.26%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.06%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.64%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.7%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.06%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.08%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.54%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:4.16%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.4%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:3.92%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
			<td style="width:2.5%">
				<p style="text-align:justify">&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>
<table width="96%" border="0" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tr>
        <td width="40%" style="text-align: left; vertical-align: top;">
            <span style="font-weight: bold;font-style: italic">Nơi nhận:</span><br>
            - UBND tỉnh;<br />
            - Bộ tài chính;<br />
            - Lưu: VT, QLGCS.
        </td>
        <td style="vertical-align: top;">
            <b>THỦ TRƯỞNG ĐƠN VỊ</b><br>
            <i>(Ký tên, đóng dấu)</i>
        </td>
    </tr>
</table>