@{
    ViewData["Title"] = "Bản Tin";
  
}


@section custom_style {
            <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
            <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
            <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
            <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
            <script>
                $(document).ready(function () {
                    TableManaged.init();
                });

            }
            </script>
}
   
<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                @Model.TieuDe
            </h3>
        </div>

    </div>
    <hr />
    <div class="card-body" id="NoiDung" name="NoiDung" >
        @Model.NoiDung
    
    </div>
</div>





