@{
    ViewData["Title"] = "Tổng hợp, phân tích, thống kê";
    var dmnganhnghe = (IEnumerable<QLViecLam.Models.Admin.Manages.DanhMuc.DmNganhNghe>)ViewData["dmnganhnghe"]!;

    int record_id = 1;
}

@model IEnumerable<QLViecLam.ViewModels.Admin.Manages.ThongTinThiTruongLD.ThuThapTT.HeThongTruyVanTT.VM_Count_Chucnang>

@section custom_style {
        <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script {
        <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
        <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
        <script>
            $(document).ready(function () {
                TableManaged.init();
            });

        </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách<small> Triển vọng thị trường lao động</small><br />
            </h3>
        </div>

    </div>
    <hr />
    <div class="card-body">
        <table class="table table-bordered table-hover" cellspacing="0" cellpadding="0" border="1" style="margin: 20px auto; border-collapse: collapse;font-size: 12px">
            <tr>
                <th>Stt</th>
                <th>Tên ngành nghề, nhóm ngành nghề</th>
                <th>Số liệu</th>
            </tr>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@(record_id++)</th>
                        <th>@item.Mota</th>
                        <th>@item.Count</th>
                    </tr>

                }
            }
        </table>
    </div>

</div>

