@{
    Layout = "_LayoutPrint";
    var record_id = 1;
}


<table id="data_header" style="font-size: 12px;width:72%">
    <tbody>
        <tr>
            <td colspan="4">
                <p style="text-align: center;font-size: 20px;">
                    Mẫu số 02: Ban hành kèm theo Thông tư số 27/2015/TT-LĐTBXH ngày 24/7/2015 của Bộ trưởng Bộ Lao động - Thương binh và Xã hội hướng dẫn
                    thu thập, lưu trữ, tổng hợp thông tin thị trường lao động.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: left">
                ỦY BAN NHÂN DÂN HUYỆN/QUẬN/THỊ XÃ/THÀNH PHỐ................................<br />
                PHÒNG LAO ĐỘNG - THƯƠNG BINH VÀ XÃ HỘI
            </td>
            <td colspan="3" style="text-align: center">
                CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM................................<br>
                Độc lập - Tự do - Hạnh phúc
            </td>
        </tr>
        <tr>
            <td style="text-align:center">Số:………/BC-UBND</td>
            <td style="text-align:center">……, ngày……tháng……năm……</td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: center;font-weight: bold;font-size: 20px; text-transform: uppercase;">
                    BÁO CÁO THÔNG TIN THỊ TRƯỜNG CUNG LAO ĐỘNG
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p style="text-align: center">
                    Kính gửi: Sở Lao động - Thương binh và Xã hội.................
                </p>
            </td>
        </tr>
    </tbody>
</table>

<br />
<br />
<!--huyen4-->
<table id="data_body" cellspacing="0" cellpadding="0" border="1" style="font-size: 12px;width:72%">
    <colgroup>
        <col class="xl6616046" width="35" style="mso-width-alt:
 1280;width:26pt">
        <col class="xl6616046" width="135" style="mso-width-alt:
 4937;width:101pt">
        <col class="xl6616046" width="40" style="mso-width-alt:
 1462;width:30pt">
        <col class="xl6616046" width="39" style="mso-width-alt:
 1426;width:29pt">
        <col class="xl6616046" width="46" style="mso-width-alt:
 1682;width:35pt">
        <col class="xl6616046" width="44" style="mso-width-alt:
 1609;width:33pt">
        <col class="xl6616046" width="41" style="mso-width-alt:
 1499;width:31pt">
        <col class="xl6616046" width="40" style="mso-width-alt:
 1462;width:30pt">
        <col class="xl6616046" width="38" style="mso-width-alt:
 1389;width:29pt">
        <col class="xl6616046" width="42" style="mso-width-alt:
 1536;width:32pt">
        <col class="xl6616046" width="40" span="2" style="
 mso-width-alt:1462;width:30pt">
        <col class="xl6616046" width="54" style="mso-width-alt:
 1974;width:41pt">
        <col class="xl6616046" width="39" style="mso-width-alt:
 1426;width:29pt">
        <col class="xl6616046" width="41" style="mso-width-alt:
 1499;width:31pt">
        <col class="xl6616046" width="47" style="mso-width-alt:
 1718;width:35pt">
        <col class="xl6616046" width="44" style="mso-width-alt:
 1609;width:33pt">
        <col class="xl6616046" width="37" style="mso-width-alt:
 1353;width:28pt">
        <col class="xl6616046" width="45" style="mso-width-alt:
 1645;width:34pt">
        <col class="xl6616046" width="43" style="mso-width-alt:
 1572;width:32pt">
    </colgroup>
    <tbody>
        <tr height="24" style="height:18.0pt">
            <td colspan="20" height="24" class="xl8216046" width="930" style="height:18.0pt;
  width:699pt">
                II. Phần Cầu lao động<span style="mso-spacerun:yes">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span><font class="font516046">Đơn vị: Người</font>
            </td>
        </tr>
        <tr height="37" style="height:27.75pt">
            <td rowspan="3" height="144" class="xl7616046" width="35" style="height:108.0pt;
  border-top:none;width:26pt">
                STT
            </td>
            <td rowspan="3" class="xl7616046" width="135" style="border-top:none;width:101pt">
                Tên
                xã/phường/thị trấn
            </td>
            <td colspan="5" class="xl8416046" width="210" style="border-right:.5pt solid black;
  border-left:none;width:158pt">
                Kỳ trước<span style="mso-spacerun:yes">&nbsp;</span>
            </td>
            <td colspan="5" class="xl8416046" width="200" style="border-right:.5pt solid black;
  border-left:none;width:151pt">
                Kỳ báo cáo
            </td>
            <td colspan="4" class="xl8716046" width="181" style="border-left:none;width:136pt">
                DN
                mới thành lập/chuyển đến
            </td>
            <td colspan="4" class="xl7416046" width="169" style="width:127pt">
                DN chuyển
                đi, giải thể/phá sản, không tìm thấy
            </td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td rowspan="2" height="107" class="xl7516046" width="40" style="border-bottom:.5pt solid black;
  height:80.25pt;border-top:none;width:30pt">
                Tổng số doanh
                nghiệp
            </td>
            <td rowspan="2" class="xl7516046" width="39" style="border-bottom:.5pt solid black;
  border-top:none;width:29pt">
                Số lao động trực
                tiếp
            </td>
            <td rowspan="2" class="xl7516046" width="46" style="border-bottom:.5pt solid black;
  border-top:none;width:35pt">
                Số lao động gián tiếp
            </td>
            <td rowspan="2" class="xl7516046" width="44" style="border-bottom:.5pt solid black;
  border-top:none;width:33pt">
                Số lao động đã qua đào
                tạo
            </td>
            <td rowspan="2" class="xl7516046" width="41" style="border-bottom:.5pt solid black;
  border-top:none;width:31pt">
                Số lao động đã ký hợp
                đồng
            </td>
            <td rowspan="2" class="xl7516046" width="40" style="border-bottom:.5pt solid black;
  border-top:none;width:30pt">
                Tổng số doanh nghiệp
            </td>
            <td rowspan="2" class="xl7516046" width="38" style="border-bottom:.5pt solid black;
  border-top:none;width:29pt">
                Số lao động trực
                tiếp
            </td>
            <td rowspan="2" class="xl7516046" width="42" style="border-bottom:.5pt solid black;
  border-top:none;width:32pt">
                Số lao động gián tiếp
            </td>
            <td rowspan="2" class="xl7516046" width="40" style="border-bottom:.5pt solid black;
  border-top:none;width:30pt">
                Số lao động đã qua đào
                tạo
            </td>
            <td rowspan="2" class="xl7516046" width="40" style="border-bottom:.5pt solid black;
  border-top:none;width:30pt">
                Số lao động đã ký hợp
                đồng
            </td>
            <td rowspan="2" class="xl7516046" width="54" style="border-bottom:.5pt solid black;
  width:41pt">
                Số doanh nghiệp mới thành lập
            </td>
            <td rowspan="2" class="xl7816046" width="39" style="border-bottom:.5pt solid black;
  width:29pt">
                Số lao động
            </td>
            <td rowspan="2" class="xl8016046" width="41" style="width:31pt">
                Số lao
                động đã ký hợp đồng
            </td>
            <td rowspan="2" class="xl7516046" width="47" style="border-bottom:.5pt solid black;
  width:35pt">
                Số lao động đã qua đào tạo
                tăng thêm
            </td>
            <td rowspan="2" class="xl7516046" width="44" style="border-bottom:.5pt solid black;
  border-top:none;width:33pt">
                Số doanh nghiệp giảm đi
            </td>
            <td rowspan="2" class="xl7816046" width="37" style="border-bottom:.5pt solid black;
  border-top:none;width:28pt">
                Số lao động
            </td>
            <td rowspan="2" class="xl8016046" width="45" style="border-top:none;width:34pt">
                Số
                lao động đã ký hợp đồng
            </td>
            <td rowspan="2" class="xl7516046" width="43" style="border-bottom:.5pt solid black;
  border-top:none;width:32pt">
                Số lao động đã qua đào
                tạo giảm
            </td>
        </tr>
        <tr height="87" style="height:65.25pt">
        </tr>
        <tr height="19" style="height:14.25pt">
            <td height="19" class="xl7416046" width="35" style="height:14.25pt;border-top:none;
  width:26pt">
                A
            </td>
            <td class="xl7416046" width="135" style="border-top:none;border-left:none;
  width:101pt">
                B
            </td>
            <td class="xl7416046" width="40" style="border-top:none;border-left:none;
  width:30pt">
                1
            </td>
            <td class="xl7416046" width="39" style="border-top:none;border-left:none;
  width:29pt">
                2
            </td>
            <td class="xl7416046" width="46" style="border-top:none;border-left:none;
  width:35pt">
                3
            </td>
            <td class="xl7416046" width="44" style="border-top:none;border-left:none;
  width:33pt">
                4
            </td>
            <td class="xl7416046" width="41" style="border-top:none;border-left:none;
  width:31pt">
                5
            </td>
            <td class="xl7416046" width="40" style="border-top:none;border-left:none;
  width:30pt">
                6
            </td>
            <td class="xl7416046" width="38" style="border-top:none;border-left:none;
  width:29pt">
                7
            </td>
            <td class="xl7416046" width="42" style="border-top:none;border-left:none;
  width:32pt">
                8
            </td>
            <td class="xl7416046" width="40" style="border-top:none;border-left:none;
  width:30pt">
                9
            </td>
            <td class="xl7416046" width="40" style="border-top:none;border-left:none;
  width:30pt">
                10
            </td>
            <td class="xl7416046" width="54" style="border-top:none;border-left:none;
  width:41pt">
                11
            </td>
            <td class="xl7416046" width="39" style="border-top:none;border-left:none;
  width:29pt">
                12
            </td>
            <td class="xl7416046" width="41" style="border-left:none;width:31pt">13</td>
            <td class="xl7416046" width="47" style="border-top:none;border-left:none;
  width:35pt">
                14
            </td>
            <td class="xl7416046" width="44" style="border-top:none;border-left:none;
  width:33pt">
                15
            </td>
            <td class="xl7416046" width="37" style="border-top:none;border-left:none;
  width:28pt">
                16
            </td>
            <td class="xl7416046" width="45" style="border-left:none;width:34pt">17</td>
            <td class="xl7416046" width="43" style="border-top:none;border-left:none;
  width:32pt">
                18
            </td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl7216046" style="height:15.0pt;border-top:none">1</td>
            <td class="xl7216046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7216046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7216046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7116046" style="border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl7016046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">2</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">3</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6916046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6916046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6816046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6816046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6816046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6816046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6816046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl6816046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6816046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <tr height="20" style="height:15.0pt">
            <td height="20" class="xl7316046" style="height:15.0pt;border-top:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
            <td class="xl6716046" style="border-top:none;border-left:none">&nbsp;</td>
        </tr>
        <!--[if supportMisalignedColumns]-->
        <tr height="0" style="display:none">
            <td width="35" style="width:26pt"></td>
            <td width="135" style="width:101pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="46" style="width:35pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="38" style="width:29pt"></td>
            <td width="42" style="width:32pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="40" style="width:30pt"></td>
            <td width="54" style="width:41pt"></td>
            <td width="39" style="width:29pt"></td>
            <td width="41" style="width:31pt"></td>
            <td width="47" style="width:35pt"></td>
            <td width="44" style="width:33pt"></td>
            <td width="37" style="width:28pt"></td>
            <td width="45" style="width:34pt"></td>
            <td width="43" style="width:32pt"></td>
        </tr>
        <!--[endif]-->
        <tr height="27" style="height:20.25pt">
            <td></td>
            <td colspan="14"><i>Ghi chú: Số kỳ báo cáo = Số kỳ trước + số tăng trong kỳ - số giảm trong kỳ</i></td>
        </tr>
    </tbody>
</table>
<table id="data_footer" width="96%" cellspacing="0" cellpadding="0" style="margin: 20px auto;text-align: center; height:200px">
    <tbody>
        <tr>
            <td style="vertical-align: top;" width="40%">
                <i>Ngày......tháng......năm...........</i><br>
                <b>Người báo cáo</b><br>
                <i>(Chữ ký, dấu)</i>
            </td>
            <td style="vertical-align: top;">
                <i>Ngày......tháng......năm...........</i><br>
                <b>Thủ trưởng đơn vị</b><br>
                <i>(Ký và đóng dấu)</i><br />

            </td>
        </tr>
    </tbody>
</table>