@{
    int record_id = 1;
    var Xa = (IEnumerable<QLViecLam.Models.Admin.Systems.DmHanhChinh>)ViewData["Xa"]!;
    var Huyen = (IEnumerable<QLViecLam.Models.Admin.Systems.DmHanhChinh>)ViewData["Huyen"]!;

}

@section custom_style{
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/datatables/bootstrap/dataTables.css" />
}

@section custom_script{
    <script type="text/javascript" src="~/Admin/assets/datatables/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Admin/assets/datatables/bootstrap/dataTables.bootstrap.js"></script>
    <script src="~/Admin/assets/datatables/scripts/table-managed.js"></script>
    <script>
                   
    </script>
}

<div class="card card-custom">
    <div class="card-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">
                Danh sách<small>Báo cáo số lượng theo mức thu nhập và đơn vị sử dụng lao động</small>
            </h3>
        </div>
        <div class="card-toolbar">
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <a class="btn font-weight-bolder" asp-controller="BaoCaoTheoMucThuThap" asp-action="BaoHiemXaHoi" target="_blank">
                        <i class="icon-lg la flaticon2-print text-primary"></i>Xuất báo cáo theo đối tượng Bảo hiểm xã hội
                    </a>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <a class="btn font-weight-bolder" asp-controller="BaoCaoTheoMucThuThap" asp-action="BaoHiemYTe" target="_blank">
                        <i class="icon-lg la flaticon2-print text-primary"></i>Xuất báo cáo theo đối tượng Bảo hiểm y tế
                    </a>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <a class="btn font-weight-bolder" asp-controller="BaoCaoTheoMucThuThap" asp-action="MucThuNhap" target="_blank">
                        <i class="icon-lg la flaticon2-print text-primary"></i>Xuất báo cáo số lượng lao động theo mức thu nhập
                    </a>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <a class="btn font-weight-bolder" asp-controller="BaoCaoTheoMucThuThap" asp-action="DonViSuDungLaoDong" target="_blank">
                        <i class="icon-lg la flaticon2-print text-primary"></i>Xuất báo cáo số lượng lao động theo đơn vị sử dụng lao động
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
